In [1]:
import pandas as pd

In [19]:
mlb_data = pd.read_csv("mlb_attendance.csv")
nfl_data = pd.read_csv("nfl_attendance.csv")
nba_data = pd.read_csv("nba_attendance.csv")

In [27]:
mlb_data=mlb_data[['0','1','2','3','4','5','year']]
mlb_data["sport"]="mlb"
mlb_data
nfl_data=nfl_data[['0','1','2','3','4','5','year']]
nfl_data["sport"]="nfl"
nfl_data
nba_data=nba_data[['0','1','2','3','4','5','year']]
nba_data
nba_data["sport"]="nba"

In [29]:
attendance = [mlb_data, nfl_data, nba_data]

all_attendance = pd.concat(attendance)

In [30]:
attendance

[                   0                  1     2        3      4      5  year  \
 0    2011 Attendance    2011 Attendance  Home     Home   Home   Home  2011
 1                 RK               TEAM   GMS    TOTAL    AVG    PCT  2011
 2                  1            Oakland    81  1476792  18232   52.0  2011
 3                  2          Tampa Bay    81  1529188  18878   55.4  2011
 4                  3            Florida    80  1520562  19007   48.8  2011
 5                  4        Kansas City    81  1724450  21289   56.2  2011
 6                  5          Baltimore    80  1755461  21943   48.3  2011
 7                  6            Toronto    81  1818103  22445   45.6  2011
 8                  7          Cleveland    81  1840835  22726   52.3  2011
 9                  8            Seattle    81  1896321  23411   48.9  2011
 10                 9         Pittsburgh    80  1940429  24255   63.2  2011
 11                10  Chicago White Sox    81  2001117  24705   60.8  2011
 12                11         Washington    78  1940478  24877   59.9  2011
 13                12            Houston    81  2067016  25518   62.3  2011
 14                13            Arizona    81  2105432  25992   53.4  2011
 15                14          San Diego    81  2143018  26457   62.0  2011
 16                15         Cincinnati    81  2213498  27327   64.6  2011
 17                16            Atlanta    79  2372940  30037   60.4  2011
 18                17            NY Mets    79  2378549  30108   72.0  2011
 19                18            Detroit    81  2642045  32617   79.1  2011
 20                19           Colorado    81  2909777  35923   71.1  2011
 21                20         LA Dodgers    81  2935139  36236   64.7  2011
 22                21              Texas    81  2946949  36382   74.0  2011
 23                22       Chicago Cubs    81  3017966  37258   90.5  2011
 24                23             Boston    81  3054001  37703  101.7  2011
 25                24          Milwaukee    81  3071373  37918   90.5  2011
 26                25          St. Louis    81  3093954  38196   86.9  2011
 27                26          LA Angels    81  3166321  39090   86.1  2011
 28                27          Minnesota    81  3168107  39112   99.0  2011
 29                28      San Francisco    81  3387303  41818   99.8  2011
 ..               ...                ...   ...      ...    ...    ...   ...
 226                1              Miami    81   811104  10013   26.7  2018
 227                2          Tampa Bay    81  1154973  14258   41.8  2018
 228                3         Pittsburgh    78  1465316  18786   49.0  2018
 229                4            Oakland    81  1573616  19427   55.4  2018
 230                5          Baltimore    78  1564192  20053   44.1  2018
 231                6  Chicago White Sox    80  1608817  20110   50.1  2018
 232                7         Cincinnati    81  1629356  20115   47.5  2018
 233                8        Kansas City    81  1665107  20556   54.2  2018
 234                9            Detroit    80  1856970  23212   56.3  2018
 235               10          Cleveland    80  1926701  24083   55.4  2018
 236               11          Minnesota    80  1959197  24489   63.6  2018
 237               12              Texas    81  2107107  26013   52.9  2018
 238               13          San Diego    80  2147000  26837   64.5  2018
 239               14       Philadelphia    79  2158124  27318   63.4  2018
 240               15            Arizona    81  2242695  27687   56.9  2018
 241               16            NY Mets    79  2224995  28164   67.4  2018
 242               17            Seattle    81  2299489  28388   59.3  2018
 243               18            Toronto    80  2325281  29066   59.0  2018
 244               19            Atlanta    81  2555781  31552   76.8  2018
 245               20         Washington    80  2529604  31620   76.2  2018
 246               21          Milwaukee    81  2850875  35195   84.0  2018
 247               22             Boston    81  2895575  35747   95.3  2018
 248               23            Houston    81  2980549  36796   89.8  2018
 249               24           Colorado    81  3015880  37233   73.7  2018
 250               25          LA Angels    81  3020216  37286   82.1  2018
 251               26       Chicago Cubs    82  3181089  38793   94.3  2018
 252               27      San Francisco    81  3156185  38965   93.0  2018
 253               28          St. Louis    81  3403587  42019   95.6  2018
 254               29         NY Yankees    81  3482855  42998   86.6  2018
 255               30         LA Dodgers    82  3857500  47042   84.0  2018

     sport
 0     mlb
 1     mlb
 2     mlb
 3     mlb
 4     mlb
 5     mlb
 6     mlb
 7     mlb
 8     mlb
 9     mlb
 10    mlb
 11    mlb
 12    mlb
 13    mlb
 14    mlb
 15    mlb
 16    mlb
 17    mlb
 18    mlb
 19    mlb
 20    mlb
 21    mlb
 22    mlb
 23    mlb
 24    mlb
 25    mlb
 26    mlb
 27    mlb
 28    mlb
 29    mlb
 ..    ...
 226   mlb
 227   mlb
 228   mlb
 229   mlb
 230   mlb
 231   mlb
 232   mlb
 233   mlb
 234   mlb
 235   mlb
 236   mlb
 237   mlb
 238   mlb
 239   mlb
 240   mlb
 241   mlb
 242   mlb
 243   mlb
 244   mlb
 245   mlb
 246   mlb
 247   mlb
 248   mlb
 249   mlb
 250   mlb
 251   mlb
 252   mlb
 253   mlb
 254   mlb
 255   mlb

 [256 rows x 8 columns],
                    0                1     2       3      4      5  year sport
 0    2011 Attendance  2011 Attendance  Home    Home   Home   Home  2011   nfl
 1                 RK             TEAM   GMS   TOTAL    AVG    PCT  2011   nfl
 2                  1       Cincinnati     8  394009  49251   75.2  2011   nfl
 3                  2      Los Angeles     8  451153  56394   86.3  2011   nfl
 4                  3        Tampa Bay     7  396300  56614   86.2  2011   nfl
 5                  4          Oakland     8  473938  59242   94.0  2011   nfl
 6                  5            Miami     8  487089  60886   81.0  2011   nfl
 7                  6          Arizona     8  489455  61181   96.5  2011   nfl
 8                  7          Chicago     8  497166  62145  101.0  2011   nfl
 9                  8     Jacksonville     8  498655  62331   92.8  2011   nfl
 10                 9          Buffalo     7  438864  62694   85.8  2011   nfl
 11                10        Minnesota     8  502529  62816   98.0  2011   nfl
 12                11       Pittsburgh     8  504279  63034   97.0  2011   nfl
 13                12          Detroit     8  509940  63742   98.8  2011   nfl
 14                13     Indianapolis     8  518627  64828  102.9  2011   nfl
 15                14      Los Angeles     8  523143  65392   91.7  2011   nfl
 16                15        Cleveland     8  526874  65859   90.0  2011   nfl
 17                16          Seattle     8  531311  66413   99.1  2011   nfl
 18                17      New England     8  550048  68756  100.0  2011   nfl
 19                18          Atlanta     8  551892  68986   96.8  2011   nfl
 20                19        Tennessee     8  553144  69143  100.0  2011   nfl
 21                20     Philadelphia     8  553152  69144  102.3  2011   nfl
 22                21    San Francisco     8  557856  69732   99.3  2011   nfl
 23                22        Green Bay     8  564097  70512   96.7  2011   nfl
 24                23        Baltimore     8  569792  71224  100.3  2011   nfl
 25                24          Houston     8  571969  71496  100.6  2011   nfl
 26                25      Kansas City     8  576659  72082   93.9  2011   nfl
 27                26         Carolina     8  578342  72292   98.0  2011   nfl
 28                27      New Orleans     8  584336  73042  100.1  2011   nfl
 29                28           Denver     8  602618  75327   99.0  2011   nfl
 ..               ...              ...   ...     ...    ...    ...   ...   ...
 242                3        Tampa Bay     8  434855  54356   82.8  2018   nfl
 243                4          Oakland     8  463353  57919  103.4  2018   nfl
 244                5     Indianapolis     8  473598  59199   94.0  2018   nfl
 245                6       Washington     8  488227  61028   74.4  2018   nfl
 246                7          Chicago     8  494525  61815  100.5  2018   nfl
 247                8          Arizona     8  496111  62013   95.4  2018   nfl
 248                9          Detroit     8  502361  62795   97.4  2018   nfl
 249               10       Pittsburgh     8  507651  63456   92.8  2018   nfl
 250               11        Tennessee     8  516161  64520   93.3  2018   nfl
 251               12          Buffalo     8  519695  64961   90.4  2018   nfl
 252               13            Miami     8  524480  65560  101.2  2018   nfl
 253               14        Cleveland     8  526122  65765   97.5  2018   nfl
 254               15      New England     8  527024  65878  100.0  2018   nfl
 255               16     Jacksonville     7  466719  66674   98.3  2018   nfl
 256               17        Minnesota     8  534491  66811   99.9  2018   nfl
 257               18          Seattle     8  552009  69001  100.4  2018   nfl
 258               19    San Francisco     8  553190  69148  100.9  2018   nfl
 259               20     Philadelphia     8  557568  69696  100.1  2018   nfl
 260               21        Baltimore     8  563451  70431   99.2  2018   nfl
 261               22          Houston     8  574439  71804   99.7  2018   nfl
 262               23      Los Angeles     8  579439  72429   77.4  2018   nfl
 263               24          Atlanta     8  583184  72898   97.2  2018   nfl
 264               25      New Orleans     8  584411  73051  100.1  2018   nfl
 265               26         Carolina     8  590182  73772  100.0  2018   nfl
 266               27      Kansas City     8  607780  75972   99.4  2018   nfl
 267               28           Denver     8  611571  76446  100.4  2018   nfl
 268               29        NY Giants     8  615525  76940   93.3  2018   nfl
 269               30        Green Bay     8  622677  77834   95.6  2018   nfl
 270               31          NY Jets     8  623856  77982   94.5  2018   nfl
 271               32           Dallas     8  732958  91619   91.6  2018   nfl

 [272 rows x 8 columns],
                    0                1     2       3      4      5  year sport
 0    2011 Attendance  2011 Attendance  Home    Home   Home   Home  2011   nba
 1                 RK             TEAM   GMS   TOTAL    AVG    PCT  2011   nba
 2                  1           Pacers    41  555077  13538   74.5  2011   nba
 3                  2            Kings    41  569496  13890   80.2  2011   nba
 4                  3             Nets    41  581378  14179   80.6  2011   nba
 5                  4        Grizzlies    41  600687  14650   80.9  2011   nba
 6                  5         Pelicans    41  603088  14709   86.1  2011   nba
 7                  6            76ers    41  604823  14751   72.6  2011   nba
 8                  7     Timberwolves    41  624960  15242   78.8  2011   nba
 9                  8            Bucks    41  631910  15412   82.3  2011   nba
 10                 9            Hawks    41  641596  15648   83.6  2011   nba
 11                10          Hornets    41  649694  15846   83.1  2011   nba
 12                11          Rockets    41  663839  16191   89.7  2011   nba
 13                12          Raptors    41  679208  16566   83.7  2011   nba
 14                13          Pistons    41  683080  16660   75.5  2011   nba
 15                14          Wizards    41  688466  16791   83.2  2011   nba
 16                15          Nuggets    41  692968  16901   88.2  2011   nba
 17                16             Suns    41  720249  17567   95.4  2011   nba
 18                17         Clippers    41  727462  17742   93.1  2011   nba
 19                18          Thunder    41  744068  18148   99.7  2011   nba
 20                19            Spurs    41  750879  18314   98.6  2011   nba
 21                20          Celtics    41  763584  18624  100.0  2011   nba
 22                21         Warriors    41  766398  18692   95.4  2011   nba
 23                22            Magic    41  777852  18972  102.6  2011   nba
 24                23           Lakers    41  778877  18997   99.7  2011   nba
 25                24             Jazz    41  799982  19511   98.0  2011   nba
 26                25        NY Knicks    41  808879  19728   99.8  2011   nba
 27                26             Heat    41  810930  19778  100.9  2011   nba
 28                27        Mavericks    41  824162  20101  104.7  2011   nba
 29                28        Cavaliers    41  824595  20112   97.8  2011   nba
 ..               ...              ...   ...     ...    ...    ...   ...   ...
 240                5            Hawks    41  590769  14409   76.9  2018   nba
 241                6             Nets    41  622278  15556   85.9  2018   nba
 242                7        Grizzlies    41  653863  15947   88.0  2018   nba
 243                8           Pacers    41  658119  16051   88.4  2018   nba
 244                9          Hornets    41  671404  16375   85.8  2018   nba
 245               10         Pelicans    41  673920  16437   95.6  2018   nba
 246               11            Bucks    41  685303  16714   89.3  2018   nba
 247               12             Suns    41  674655  16866   91.6  2018   nba
 248               13         Clippers    41  697812  17019   89.3  2018   nba
 249               14     Timberwolves    41  699308  17056   89.9  2018   nba
 250               15          Nuggets    41  702796  17141   89.5  2018   nba
 251               16          Pistons    41  713945  17413   82.9  2018   nba
 252               17            Kings    41  649571  17555  100.3  2018   nba
 253               18            Magic    41  715728  17893   94.9  2018   nba
 254               19          Rockets    41  716008  17900   99.2  2018   nba
 255               20             Jazz    41  734806  17922   90.0  2018   nba
 256               21          Wizards    41  718946  17973   88.6  2018   nba
 257               22          Thunder    41  746323  18203  100.0  2018   nba
 258               23            Spurs    41  754562  18403   99.0  2018   nba
 259               24          Celtics    41  744960  18624  100.0  2018   nba
 260               25           Lakers    41  776327  18934   99.3  2018   nba
 261               26        NY Knicks    41  792608  19331   97.6  2018   nba
 262               27    Trail Blazers    41  795328  19398   99.8  2018   nba
 263               28         Warriors    41  803436  19596  100.0  2018   nba
 264               29             Heat    41  785250  19631  100.2  2018   nba
 265               30        Mavericks    41  811453  19791  103.1  2018   nba
 266               31          Raptors    41  813431  19839  100.2  2018   nba
 267               32            76ers    41  833503  20329  100.0  2018   nba
 268               33        Cavaliers    41  843042  20562  100.0  2018   nba
 269               34            Bulls    41  851824  20776   99.3  2018   nba

 [270 rows x 8 columns]]

In [36]:
all_attendance.head()

                 0                1     2        3      4     5  year sport
0  2011 Attendance  2011 Attendance  Home     Home   Home  Home  2011   mlb
1               RK             TEAM   GMS    TOTAL    AVG   PCT  2011   mlb
2                1          Oakland    81  1476792  18232  52.0  2011   mlb
3                2        Tampa Bay    81  1529188  18878  55.4  2011   mlb
4                3          Florida    80  1520562  19007  48.8  2011   mlb