In [1]:
import pandas as pd

In [113]:
nfl_facts = pd.read_csv("libs/unclean_data/nfl_player_salaries/nfl_player_salaries_all.csv")

In [46]:
nfl_player = pd.read_csv("static/data/nfl_player_av_state.csv")

In [70]:
nfl_facts.head()

               name         salary  year
0   Richard Seymour  $17,818,000    2011
1      Mark Sanchez  $17,228,125    2011
2    Dwight Freeney  $16,420,000    2011
3  Larry Fitzgerald  $16,250,000    2011
4    Mario Williams  $16,200,000    2011

In [48]:
nfl_player.head()

   Unnamed: 0            Player  Year   Tm    AV  percentile_av state
0           0     Aaron Rodgers  2011  GNB  23.0            100    CA
1           1         Tom Brady  2011  NWE  21.0             99    MI
2           2        Drew Brees  2011  NOR  20.0             99    IN
3           3  Patrick Peterson  2011  ARI  20.0             99    LA
4           4       Jahri Evans  2011  NOR  19.0             99    PA

In [114]:
nfl_facts = nfl_facts.rename(columns={"year":"Year"})
nfl_facts = nfl_facts.rename(columns={"name":"Player"})

In [51]:
nfl_player = nfl_player.groupby("Player", "state")["percentile_av"].mean()

ValueError: No axis named state for object type <class 'pandas.core.frame.DataFrame'>

In [41]:
nfl_player.head()

Player
A'Shawn Robinson    73.666667
A.J. Bouye          61.333333
A.J. Cann           80.000000
A.J. Davis          11.000000
A.J. Derby          30.333333
Name: percentile_av, dtype: float64

In [42]:
nfl_df = pd.DataFrame(nfl_player)

In [57]:
nfl_df = nfl_df.reset_index(level=0)
nfl_df.head()

             Player  percentile_av
0  A'Shawn Robinson      73.666667
1        A.J. Bouye      61.333333
2         A.J. Cann      80.000000
3        A.J. Davis      11.000000
4        A.J. Derby      30.333333

In [54]:
nfl_player = nfl_player.drop_duplicates("Player")

In [56]:
nfl_player.head()

   Unnamed: 0            Player  Year   Tm    AV  percentile_av state
0           0     Aaron Rodgers  2011  GNB  23.0            100    CA
1           1         Tom Brady  2011  NWE  21.0             99    MI
2           2        Drew Brees  2011  NOR  20.0             99    IN
3           3  Patrick Peterson  2011  ARI  20.0             99    LA
4           4       Jahri Evans  2011  NOR  19.0             99    PA

In [58]:
df = [nfl_df, nfl_player]

In [65]:
merged = pd.merge(nfl_df, nfl_player, on="Player")

In [66]:
merged.head()

,Player,percentile_av_x,Unnamed: 0,Year,Tm,AV,percentile_av_y,state
0,A'Shawn Robinson,73.666667,11968,2016,DET,3.0,59,AL
1,A.J. Bouye,61.333333,6327,2013,HOU,0.0,11,FL
2,A.J. Cann,80.000000,9293,2015,JAX,6.0,79,SC
3,A.J. Davis,11.000000,3991,2012,NOR,0.0,11,AL
4,A.J. Derby,30.333333,12400,2016,2TM,1.0,32,AR

In [67]:
merged = merged.drop(columns={"Unnamed: 0", "Year", "AV", "percentile_av_y", "Tm"})

In [68]:
merged.head()

             Player  percentile_av_x state
0  A'Shawn Robinson        73.666667    AL
1        A.J. Bouye        61.333333    FL
2         A.J. Cann        80.000000    SC
3        A.J. Davis        11.000000    AL
4        A.J. Derby        30.333333    AR

In [129]:
nfl_facts["salary"] = nfl_facts["salary"].astype(str).astype("float")
nfl_facts.head()

ValueError: could not convert string to float: '17,818,000  '

In [116]:
nfl_facts["salary"] = nfl_facts["salary"].str.strip("$")

In [123]:
nfl_facts.dtypes

Player    object
salary    object
Year       int64
dtype: object

In [131]:
nfl_unis = pd.read_csv("libs/unclean_data/university_info/nfl_player_unis.csv")

In [133]:
nfl_unis = nfl_unis.rename(columns={"name":"Player"})
nfl_unis.head()

   Unnamed: 0              index    college            Player state
0           0  Allegheny College  Allegheny  Ronnie Anderson     PA
1           1  Allegheny College  Allegheny        Eddie Wall    PA
2           2       Alma College       Alma      Mark Konecny    MI
3           3    Amherst College    Amherst     Freddie Scott    MA
4           4    Amherst College    Amherst          Kid Hill    MA

In [135]:
nfl_merged = pd.merge(merged, nfl_unis, on="Player")

In [136]:
nfl_merged.head()

,Player,percentile_av_x,state_x,Unnamed: 0,index,college,state_y
0,A'Shawn Robinson,73.666667,AL,11285,University of Alabama,Alabama,AL
1,A.J. Bouye,61.333333,FL,2031,Central Florida Community College,Central Florida,FL
2,A.J. Cann,80.000000,SC,9860,South Carolina State University,South Carolina,SC
3,A.J. Derby,30.333333,AR,349,Arkansas State University,Arkansas,AR
4,A.J. Edds,11.000000,IA,6399,Iowa State University,Iowa,IA

In [137]:
nfl_merged = nfl_merged.drop(columns={"Unnamed: 0", "college", "state_y"})
nfl_merged = nfl_merged.rename(columns={"percentils_av_x":"AV_Percentile", "state_x":"State", "index":"College"})

In [140]:
nfl_merged = nfl_merged.rename(columns={"percentile_av_x":"AV_Percentile"})
nfl_merged.head()

             Player  AV_Percentile State                            College
0  A'Shawn Robinson      73.666667    AL              University of Alabama
1        A.J. Bouye      61.333333    FL  Central Florida Community College
2         A.J. Cann      80.000000    SC    South Carolina State University
3        A.J. Derby      30.333333    AR          Arkansas State University
4         A.J. Edds      11.000000    IA              Iowa State University

In [141]:
nfl_merged.to_csv("static/data/final_nfl_facts.csv")

In [2]:
mlb_facts = pd.read_csv("static/data/mlb_war_ratings_all.csv")

In [32]:
len(mlb_facts)

2909

In [33]:
mlb_unis = pd.read_csv("libs/unclean_data/university_info/mlb_player_unis.csv")
len(mlb_unis)

7521

In [41]:
mlb_unis = mlb_unis.rename(columns={"nameGiven":"Player"})

In [42]:
mlb_unis.head()

    playerID                      name_full state           Player
0  aardsda01  Pennsylvania State University    PA      David Allan
1  aardsda01                Rice University    TX      David Allan
2   abadan01         Middle Georgia College    GA    Fausto Andres
3  abbeybe01          University of Vermont    VT        Bert Wood
4  abbotje01         University of Kentucky    KY  Jeffrey William

In [7]:
mlb_facts["percentile_per"].value_counts

<bound method IndexOpsMixin.value_counts of 0       100
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24       99
25       99
26       99
27       99
28       99
29       99
       ...
9768      0
9769      0
9770      0
9771      0
9772      0
9773      0
9774      0
9775      0
9776      0
9777      0
9778      0
9779      0
9780      0
9781      0
9782      0
9783      0
9784      0
9785      0
9786      0
9787      0
9788      0
9789      0
9790      0
9791      0
9792      0
9793      0
9794      0
9795      0
9796      0
9797      0
Name: percentile_per, Length: 9798, dtype: int64>

In [8]:
mlb_facts = mlb_facts.groupby("Player")["percentile_per"].mean()

In [43]:
mlb_facts.head()

Player
A.J. Achter     47.000
A.J. Burnett    40.600
A.J. Cole       29.500
A.J. Ellis      67.125
A.J. Griffin    44.000
Name: percentile_per, dtype: float64

In [44]:
mlb_df = pd.DataFrame(mlb_facts)

In [45]:
mlb_df = mlb_df.reset_index(level=0)
mlb_df.head()
#len(mlb_df)

         Player  percentile_per
0   A.J. Achter          47.000
1  A.J. Burnett          40.600
2     A.J. Cole          29.500
3    A.J. Ellis          67.125
4  A.J. Griffin          44.000

In [52]:
mlb_merged = pd.merge(mlb_unis, mlb_df, on="Player", how="right")

In [53]:
len(mlb_merged)

7521

In [57]:
mlb_merged["Wins_Above_Replacement_Percentile"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
7491   NaN
7492   NaN
7493   NaN
7494   NaN
7495   NaN
7496   NaN
7497   NaN
7498   NaN
7499   NaN
7500   NaN
7501   NaN
7502   NaN
7503   NaN
7504   NaN
7505   NaN
7506   NaN
7507   NaN
7508   NaN
7509   NaN
7510   NaN
7511   NaN
7512   NaN
7513   NaN
7514   NaN
7515   NaN
7516   NaN
7517   NaN
7518   NaN
7519   NaN
7520   NaN
Name: Wins_Above_Replacement_Percentile, Length: 7521, dtype: float64

In [55]:
mlb_merged = mlb_merged.rename(columns={"percentile_per":"Wins_Above_Replacement_Percentile", "name_full":"College"})
mlb_merged = mlb_merged.drop(columns={"playerID"})

In [162]:
mlb_merged.to_csv("static/data/final_mlb_facts.csv")

In [163]:
nba_unis = pd.read_csv("libs/unclean_data/university_info/nba_player_unis.csv")

In [164]:
nba_unis.head()

   Unnamed: 0                     index            Player state
0           0         Acadia University      Brian Heaney   NaN
1           1    Alabama A&M University  Mickell Gladness    AL
2           2  Alabama State University       Kevin Loder    AL
3           3   Albany State University    Caldwell Jones    GA
4           4   Albany State University       Major Jones    GA

In [169]:
nba_facts = pd.read_csv("static/data/nba_player_per_state.csv")

In [170]:
nba_facts.head()

           Player   Season   PER  percentile_per state
0     Sim Bhullar  2014-15  44.3              99    NM
1   Anthony Brown  2017-18  41.9              99    IL
2   Eric Moreland  2014-15  40.8              99    OR
3  David Stockton  2017-18  33.9              99    WA
4    Orien Greene  2010-11  33.0              99    LA

In [171]:
nba_unis = nba_unis.rename(columns={"index":"college"})
nba_unis = nba_unis.drop(columns={"Unnamed: 0"})

In [172]:
nba_facts = nba_facts.rename(columns={"percentile_per":"PER_Percentile"})
nba_facts = nba_facts.drop(columns={"Season"})

In [173]:
nba_merged = pd.merge(nba_facts, nba_unis, on="Player")

In [175]:
nba_merged.head()

,Player,PER,PER_Percentile,state_x,college,state_y
0,Sim Bhullar,44.3,99,NM,New Mexico State University,NM
1,Anthony Brown,41.9,99,IL,DePaul University,IL
2,Anthony Brown,7.2,11,IL,DePaul University,IL
3,Anthony Brown,4.9,6,IL,DePaul University,IL
4,Eric Moreland,40.8,99,OR,Oregon State University,OR

In [176]:
nba_merged = nba_merged.rename(columns={"state_x":"state"})
nba_merged = nba_merged.drop(columns={"state_y"})

In [177]:
nba_merged.to_csv("static/data/final_nba_stats.csv")