In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://www.cbssports.com/nfl/news/nfl-salary-cap-rises-to-188-2-million-for-2019-the-sixth-straight-year-with-a-10-million-increase/"
browser.visit(url)

In [13]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

table = soup.find_all('tr')
table_data = []
for x in table:
    print(x.text)
    table_data.append(x.text)

SeasonSalary cap
2019$188.2M
2018$177.2M
2017$167M
2016$155.27M
2015$143.28M
2014$133M
2013$123M
2012$120.6M
2011$120M
2010Uncapped

In [10]:
nfl_df = pd.DataFrame(columns=["Year", "Salary Cap"], index=[i for i in range(len(table_data))])

In [14]:
for i in range(len(table_data)):
    row=table_data[i].split("$")
    for d in range(len(row)):
        nfl_df.iat[i,d]=row[d]

In [15]:
nfl_df

                Year Salary Cap
0   SeasonSalary cap        NaN
1               2019     188.2M
2               2018     177.2M
3               2017       167M
4               2016    155.27M
5               2015    143.28M
6               2014       133M
7               2013       123M
8               2012     120.6M
9               2011       120M
10      2010Uncapped        NaN

In [17]:
#dropping index 0 and 10 as they are not relevant to our data
nfl_df = nfl_df.drop([0,10])

In [18]:
nfl_df

   Year Salary Cap
1  2019     188.2M
2  2018     177.2M
3  2017       167M
4  2016    155.27M
5  2015    143.28M
6  2014       133M
7  2013       123M
8  2012     120.6M
9  2011       120M

In [19]:
#output to csv
nfl_df.to_csv("nfl_salary_cap.csv")

In [21]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
#MLB Salary Cap (Luxury Tax Threshold)
url = "https://en.wikipedia.org/wiki/Major_League_Baseball_luxury_tax"
browser.visit(url)

In [54]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

table = soup.find_all('tbody')
#mlb_data = []
#for x in table:
    #mlb_data.append(x.text)

In [57]:
table_data = table[1].find_all('td')

In [58]:
table_data

[<td>Year
 </td>, <td>Threshold
 </td>, <td>2003
 </td>, <td>$117,000,000
 </td>, <td>2004
 </td>, <td>$120,500,000
 </td>, <td>2005
 </td>, <td>$128,000,000
 </td>, <td>2006
 </td>, <td>$136,500,000
 </td>, <td>2007
 </td>, <td>$148,000,000
 </td>, <td>2008
 </td>, <td>$155,000,000
 </td>, <td>2009
 </td>, <td>$162,000,000
 </td>, <td>2010
 </td>, <td>$170,000,000
 </td>, <td>2011
 </td>, <td>$178,000,000
 </td>, <td>2012
 </td>, <td>$178,000,000
 </td>, <td>2013
 </td>, <td>$178,000,000
 </td>, <td>2014
 </td>, <td>$189,000,000
 </td>, <td>2015
 </td>, <td>$189,000,000
 </td>, <td>2016
 </td>, <td>$189,000,000
 </td>, <td>2017
 </td>, <td>$195,000,000
 </td>, <td>2018
 </td>, <td>$197,000,000
 </td>, <td>2019
 </td>, <td>$206,000,000
 </td>, <td>2020
 </td>, <td>$208,000,000
 </td>, <td>2021
 </td>, <td>$210,000,000
 </td>]

In [59]:
mlb_df = pd.DataFrame(columns=["Year", "Threshold"], index=[i for i in range(len(table_data))])

In [72]:
cnt = -1
for i in range(len(table_data)):
    if(i % 2 == 0):
        cnt += 1
#     print(i)
    year = table_data[i]
    temp_text = year.text
    mlb_df.iat[cnt, i%2] = temp_text.strip()

In [79]:
mlb_df = mlb_df.drop([0])
mlb_df = mlb_df.dropna()

In [80]:
mlb_df.head(5)

   Year     Threshold
1  2003  $117,000,000
2  2004  $120,500,000
3  2005  $128,000,000
4  2006  $136,500,000
5  2007  $148,000,000

In [81]:
mlb_df.to_csv("mlb_luxury_threshold.csv")