In [1]:
import pandas as pd
import numpy as np

In [14]:
df_2009 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2009.csv')
df_2010 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2010.csv')
df_2011 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2011.csv')
df_2012 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2012.csv')
df_2013 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2013.csv')
df_2014 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2014.csv')
df_2015 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2015.csv')
df_2016 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2016.csv')
df_2017 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2017.csv')
df_2018 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2018.csv')

df_list = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018]

In [46]:
for i in range(len(df_list)):
    df_list[i] = df_list[i].dropna(how='all')
    df_list[i] = df_list[i].drop_duplicates()

In [47]:
df_2009_2018 = pd.concat(df_list, ignore_index=True)

In [49]:
df_2009_2018.to_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2009_2018.csv', index=False)

In [17]:
df_war = pd.read_csv('nfl_player_salaries/nfl_player_salaries2011.csv')

In [18]:
for i in range(2011, 2019):
#     print(i)
    df_temp = pd.read_csv(f'nfl_player_salaries/nfl_player_salaries{i}.csv')
    df_war = df_war.append(df_temp, ignore_index = True)
# df_war = pd.concat(df_list, ignore_index = True)

In [19]:
len(df_war)

9000

In [20]:
df_war.to_csv('nfl_player_salaries/nfl_player_salaries_all.csv')

In [60]:
df_bb_names = pd.read_csv('university_info/bb_players.csv')
df_bb_names = df_bb_names[['playerID', 'nameGiven']]

In [47]:
df_bb_playerid_school = pd.read_csv('university_info/bb_CollegePlaying.csv')
type(df_bb_playerid_school['playerID'][0])

str

In [48]:
df_bb_people_ids = pd.read_csv('university_info/bb_players.csv')
df_bb_people_ids = df_bb_people[['playerID', 'birthState', 'bbrefID', 'retroID']]
type(df_bb_people_ids['playerID'][0])

str

In [22]:
df_bb_schools = pd.read_csv('university_info/bb_Schools.csv')

In [40]:
df_nfl_players = pd.read_json('university_info/nfl_profiles.json')
df_nfl_players = df_nfl_players[['college', 'name']]
df_nfl_players.columns

Index(['college', 'name'], dtype='object')

In [41]:
df_nba_player_uni = pd.read_csv('university_info/nba_player_universities.csv')
df_nba_player_uni = df_nba_player_uni[['Player', 'collage', 'birth_state']]
df_nba_player_uni.columns

Index(['Player', 'collage', 'birth_state'], dtype='object')

In [52]:
df = df_bb_playerid_school.set_index(['playerID']).join(df_bb_people_ids.set_index('playerID'))

In [56]:
df = df.reset_index().set_index('schoolID').join(df_bb_schools.set_index('schoolID'))

In [61]:
df = df.reset_index().set_index('playerID').join(df_bb_names.set_index('playerID'))

In [64]:
df = df[['name_full', 'state', 'nameGiven']]

In [73]:
df = df.drop_duplicates()

In [67]:
df.to_csv('mlb_player_unis.csv')

In [79]:
school_list = df.groupby('name_full').count().reset_index()['name_full']

In [83]:
school_list.name = 'school_name'

In [109]:
df_nfl_players['school_name'] = ''
#df_nfl_players[30::]

In [112]:
for i in range(len(df_nfl_players)):
    if df_nfl_players.iat[i, 0] == 'none':
        df_nfl_players.iat[i, 0] == None
df_nfl_players = df_nfl_players.dropna(how = 'any')

In [113]:
def find_school(string, string_list):
    for i in range(len(string_list)):
        if (string in string_list[i]):
            return string_list[i]

In [117]:
df_nfl_players.to_csv('nfl_player_school')

In [136]:
df_nfl_players = pd.read_csv('nfl_player_school')

In [124]:
df_bb_schools.head()

     schoolID                     name_full         city state country
0  abilchrist  Abilene Christian University      Abilene    TX     USA
1     adelphi            Adelphi University  Garden City    NY     USA
2    adrianmi                Adrian College       Adrian    MI     USA
3       akron           University of Akron        Akron    OH     USA
4     alabama         University of Alabama   Tuscaloosa    AL     USA

In [137]:
df_nfl_players = df_nfl_players.set_index('school_name').join(df_bb_schools.set_index('name_full'))

In [134]:
df_nfl_players = df_nfl_players[['college', 'name', 'state']]

In [143]:
df_nfl_players = df_nfl_players.reset_index()[['index', 'college', 'name', 'state']]

In [145]:
df_nfl_players.to_csv('nfl_player_unis.csv')

In [151]:
df_schools = df_bb_schools[['name_full', 'state']]

In [148]:
df_nba_player_uni = df_nba_player_uni[['Player', 'collage']]
df_nba_player_uni = df_nba_player_uni.dropna(how = 'any')

In [154]:
nba_player_df = df_nba_player_uni.set_index('collage').join(df_schools.set_index('name_full'))

In [159]:
nba_player_df.reset_index().to_csv('nba_player_unis.csv')

coagulating player ratings by sport

In [3]:
path = 'unclean_data/mlb_war_by_year/'
years = [i for i in range(2011, 2019)]

In [4]:
path + 'mlb_war_ratings_2011_1'

'unclean_data/mlb_war_by_year/mlb_war_ratings_2011_1'

In [5]:
df = pd.read_csv(path + 'mlb_war_ratings_2011_1.csv')

In [7]:
df = df.reset_index()

In [25]:
df.columns

Index(['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5',
       'level_6', 'level_7', 'level_8', 'level_9', 'level_10', 'level_11',
       'level_12', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF',
       'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'Pos'],
      dtype='object')

In [26]:
df = df.rename(columns = {
    'level_0': 'rk',
    'level_1': 'name/id',
    'level_2': 'war',
    'level_3': 'year',
    'level_4': 'age',
    'level_5': 'team',
    'level_6': 'lg', 
    'level_7': 'g', 
    'level_8': 'pa', 
    'level_9': 'ab', 
    'level_10': 'r', 
    'level_11': 'h',
    'level_12': '2b',
})

In [18]:
num = 2
for year in years:
    print(year)
    try:
        print(f'mlb_war_ratings_{year}_{num}.csv')
        temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}_{num}.csv')
    except FileNotFoundError:
        print(f'caught error: mlb_war_ratings_{year}_{num}.csv')
        num = 1
        temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}_{num}.csv')
    temp_df.reset_index()
    
    df.append(temp_df, ignore_index = False)
    num += 1

2011
mlb_war_ratings_2011_2.csv
2012
mlb_war_ratings_2012_3.csv
caught error: mlb_war_ratings_2012_3.csv
2013
mlb_war_ratings_2013_2.csv
2014
mlb_war_ratings_2014_3.csv
2015
mlb_war_ratings_2015_4.csv
caught error: mlb_war_ratings_2015_4.csv
2016
mlb_war_ratings_2016_2.csv
2017
mlb_war_ratings_2017_3.csv
2018
mlb_war_ratings_2018_4.csv

In [40]:
df = pd.DataFrame()
num = 1
year_cursor = 0
for i in range(25):
    try:
        df = df.append(pd.read_csv(path + f'mlb_war_ratings_{years[year_cursor]}_{num}.csv').reset_index(), sort = False)
        num += 1 
    except FileNotFoundError:
        year_cursor += 1
        num = 1
        df = df.append(pd.read_csv(path + f'mlb_war_ratings_{years[year_cursor]}_{num}.csv').reset_index(), sort = False)

In [33]:
years

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [42]:
df.groupby('level_3').count()

,level_0,level_1,level_2,level_4,level_5,level_6,level_7,level_8,level_9,level_10,...,Year,Age,Tm,Lg,G,PA,AB,R,H,2B
level_3,,,,,,,,,,,,,,,,,,,,,
2011.0,343,343,308,343,343,343,343,343,343,343,...,0,0,0,0,0,0,0,0,0,0
2012.0,729,729,702,729,729,729,729,729,729,729,...,0,0,0,0,0,0,0,0,0,0
2013.0,835,835,803,835,835,835,835,835,835,835,...,0,0,0,0,0,0,0,0,0,0
2014.0,955,955,911,955,955,955,955,955,955,955,...,0,0,0,0,0,0,0,0,0,0
2015.0,900,900,900,900,900,900,900,900,900,900,...,0,0,0,0,0,0,0,0,0,0

In [12]:
def combine_year(df_list, year, path):
    num = 1
    while num:
        try:
            temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}{num}.csv')
            df_list.append(temp_df)
            num += 1
        except:
            return df_list
            break

In [34]:
x = combine_year('2011', path)

In [37]:
len(x)

5

In [30]:
year = 2011
num = 1
df_list = []
temp_df = pd.read_csv(path + f'nba_per_ratings{year}{num}.csv')

In [31]:
df_list.append(temp_df)

In [4]:
years = [i for i in range(2011, 2019)]

In [13]:
df_list = []
path = 'unclean_data/mlb_war_by_year/'
for year in years:
    combine_year(df_list, year, path)

In [14]:
len(df_list)

40

In [15]:
df_mlb = pd.concat(df_list, ignore_index = True)

In [17]:
df_mlb.to_csv('mlb_war_ratings_all.csv')

In [18]:
df_mlb.head()

,Rk,Player,WAR/pos,Year,Age,Tm,Lg,G,PA,AB,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos
0,1,Jose Bautista\bautijo02,8.3,2011,30,TOR,AL,149,655,513,...,0,4,8,9,5,0.302,0.447,0.608,1.056,*95/D
1,2,Jacoby Ellsbury\ellsbja01,8.3,2011,27,BOS,AL,158,732,660,...,3,5,8,39,15,0.321,0.376,0.552,0.928,*8/HD
2,3,Matt Kemp\kempma01,8.0,2011,26,LAD,NL,161,689,602,...,0,7,16,40,11,0.324,0.399,0.586,0.986,*8/DH
3,4,Dustin Pedroia\pedrodu01,8.0,2011,27,BOS,AL,159,731,635,...,2,7,12,26,8,0.307,0.387,0.474,0.861,*4/H
4,5,Ryan Braun\braunry02,7.7,2011,27,MIL,NL,150,629,563,...,0,3,9,33,6,0.332,0.397,0.597,0.994,*7/HD

In [9]:
df_nfl.head()

,Rk,Player,Year,Age,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV
0,1,Aaron Rodgers\RodgAa00,2011,28.0,1-24,GNB,NFL,15.0,15.0,1,1,1,23.0
1,2,Tom Brady\BradTo00,2011,34.0,6-199,NWE,NFL,16.0,16.0,1,1,0,21.0
2,3,Drew Brees\BreeDr00,2011,32.0,2-32,NOR,NFL,16.0,16.0,1,1,0,20.0
3,4,Patrick Peterson\PetePa00,2011,21.0,1-5,ARI,NFL,16.0,16.0,1,1,1,20.0
4,5,Jahri Evans\EvanJa21,2011,28.0,4-108,NOR,NFL,16.0,16.0,1,1,1,19.0