In [1]:
import pandas as pd

In [14]:
df_2009 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2009.csv')
df_2010 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2010.csv')
df_2011 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2011.csv')
df_2012 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2012.csv')
df_2013 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2013.csv')
df_2014 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2014.csv')
df_2015 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2015.csv')
df_2016 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2016.csv')
df_2017 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2017.csv')
df_2018 = pd.read_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2018.csv')

df_list = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018]

In [46]:
for i in range(len(df_list)):
    df_list[i] = df_list[i].dropna(how='all')
    df_list[i] = df_list[i].drop_duplicates()

In [47]:
df_2009_2018 = pd.concat(df_list, ignore_index=True)

In [49]:
df_2009_2018.to_csv('mlb_draft_player_salaries/mlb_draft_player_salaries_2009_2018.csv', index=False)

In [17]:
df_war = pd.read_csv('nfl_player_salaries/nfl_player_salaries2011.csv')

In [18]:
for i in range(2011, 2019):
#     print(i)
    df_temp = pd.read_csv(f'nfl_player_salaries/nfl_player_salaries{i}.csv')
    df_war = df_war.append(df_temp, ignore_index = True)
# df_war = pd.concat(df_list, ignore_index = True)

In [19]:
len(df_war)

9000

In [20]:
df_war.to_csv('nfl_player_salaries/nfl_player_salaries_all.csv')

In [60]:
df_bb_names = pd.read_csv('university_info/bb_players.csv')
df_bb_names = df_bb_names[['playerID', 'nameGiven']]

In [47]:
df_bb_playerid_school = pd.read_csv('university_info/bb_CollegePlaying.csv')
type(df_bb_playerid_school['playerID'][0])

str

In [48]:
df_bb_people_ids = pd.read_csv('university_info/bb_players.csv')
df_bb_people_ids = df_bb_people[['playerID', 'birthState', 'bbrefID', 'retroID']]
type(df_bb_people_ids['playerID'][0])

str

In [22]:
df_bb_schools = pd.read_csv('university_info/bb_Schools.csv')

In [40]:
df_nfl_players = pd.read_json('university_info/nfl_profiles.json')
df_nfl_players = df_nfl_players[['college', 'name']]
df_nfl_players.columns

Index(['college', 'name'], dtype='object')

In [41]:
df_nba_player_uni = pd.read_csv('university_info/nba_player_universities.csv')
df_nba_player_uni = df_nba_player_uni[['Player', 'collage', 'birth_state']]
df_nba_player_uni.columns

Index(['Player', 'collage', 'birth_state'], dtype='object')

In [52]:
df = df_bb_playerid_school.set_index(['playerID']).join(df_bb_people_ids.set_index('playerID'))

In [56]:
df = df.reset_index().set_index('schoolID').join(df_bb_schools.set_index('schoolID'))

In [61]:
df = df.reset_index().set_index('playerID').join(df_bb_names.set_index('playerID'))

In [64]:
df = df[['name_full', 'state', 'nameGiven']]

In [73]:
df = df.drop_duplicates()

In [67]:
df.to_csv('mlb_player_unis.csv')

In [79]:
school_list = df.groupby('name_full').count().reset_index()['name_full']

In [83]:
school_list.name = 'school_name'

In [109]:
df_nfl_players['school_name'] = ''
#df_nfl_players[30::]

In [112]:
for i in range(len(df_nfl_players)):
    if df_nfl_players.iat[i, 0] == 'none':
        df_nfl_players.iat[i, 0] == None
df_nfl_players = df_nfl_players.dropna(how = 'any')

In [113]:
def find_school(string, string_list):
    for i in range(len(string_list)):
        if (string in string_list[i]):
            return string_list[i]

In [117]:
df_nfl_players.to_csv('nfl_player_school')

In [136]:
df_nfl_players = pd.read_csv('nfl_player_school')

In [124]:
df_bb_schools.head()

     schoolID                     name_full         city state country
0  abilchrist  Abilene Christian University      Abilene    TX     USA
1     adelphi            Adelphi University  Garden City    NY     USA
2    adrianmi                Adrian College       Adrian    MI     USA
3       akron           University of Akron        Akron    OH     USA
4     alabama         University of Alabama   Tuscaloosa    AL     USA

In [137]:
df_nfl_players = df_nfl_players.set_index('school_name').join(df_bb_schools.set_index('name_full'))

In [134]:
df_nfl_players = df_nfl_players[['college', 'name', 'state']]

In [143]:
df_nfl_players = df_nfl_players.reset_index()[['index', 'college', 'name', 'state']]

In [145]:
df_nfl_players.to_csv('nfl_player_unis.csv')

In [151]:
df_schools = df_bb_schools[['name_full', 'state']]

In [148]:
df_nba_player_uni = df_nba_player_uni[['Player', 'collage']]
df_nba_player_uni = df_nba_player_uni.dropna(how = 'any')

In [154]:
nba_player_df = df_nba_player_uni.set_index('collage').join(df_schools.set_index('name_full'))

In [159]:
nba_player_df.reset_index().to_csv('nba_player_unis.csv')

coagulating player ratings by sport

In [3]:
path = 'unclean_data/mlb_war_by_year/'
years = [i for i in range(2011, 2019)]

In [4]:
path + 'mlb_war_ratings_2011_1'

'unclean_data/mlb_war_by_year/mlb_war_ratings_2011_1'

In [5]:
df = pd.read_csv(path + 'mlb_war_ratings_2011_1.csv')

In [7]:
df = df.reset_index()

In [25]:
df.columns

Index(['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5',
       'level_6', 'level_7', 'level_8', 'level_9', 'level_10', 'level_11',
       'level_12', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF',
       'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'Pos'],
      dtype='object')

In [26]:
df = df.rename(columns = {
    'level_0': 'rk',
    'level_1': 'name/id',
    'level_2': 'war',
    'level_3': 'year',
    'level_4': 'age',
    'level_5': 'team',
    'level_6': 'lg', 
    'level_7': 'g', 
    'level_8': 'pa', 
    'level_9': 'ab', 
    'level_10': 'r', 
    'level_11': 'h',
    'level_12': '2b',
})

In [18]:
num = 2
for year in years:
    print(year)
    try:
        print(f'mlb_war_ratings_{year}_{num}.csv')
        temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}_{num}.csv')
    except FileNotFoundError:
        print(f'caught error: mlb_war_ratings_{year}_{num}.csv')
        num = 1
        temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}_{num}.csv')
    temp_df.reset_index()
    
    df.append(temp_df, ignore_index = False)
    num += 1

2011
mlb_war_ratings_2011_2.csv
2012
mlb_war_ratings_2012_3.csv
caught error: mlb_war_ratings_2012_3.csv
2013
mlb_war_ratings_2013_2.csv
2014
mlb_war_ratings_2014_3.csv
2015
mlb_war_ratings_2015_4.csv
caught error: mlb_war_ratings_2015_4.csv
2016
mlb_war_ratings_2016_2.csv
2017
mlb_war_ratings_2017_3.csv
2018
mlb_war_ratings_2018_4.csv

In [40]:
df = pd.DataFrame()
num = 1
year_cursor = 0
for i in range(25):
    try:
        df = df.append(pd.read_csv(path + f'mlb_war_ratings_{years[year_cursor]}_{num}.csv').reset_index(), sort = False)
        num += 1 
    except FileNotFoundError:
        year_cursor += 1
        num = 1
        df = df.append(pd.read_csv(path + f'mlb_war_ratings_{years[year_cursor]}_{num}.csv').reset_index(), sort = False)

In [33]:
years

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [42]:
df.groupby('level_3').count()

,level_0,level_1,level_2,level_4,level_5,level_6,level_7,level_8,level_9,level_10,...,Year,Age,Tm,Lg,G,PA,AB,R,H,2B
level_3,,,,,,,,,,,,,,,,,,,,,
2011.0,343,343,308,343,343,343,343,343,343,343,...,0,0,0,0,0,0,0,0,0,0
2012.0,729,729,702,729,729,729,729,729,729,729,...,0,0,0,0,0,0,0,0,0,0
2013.0,835,835,803,835,835,835,835,835,835,835,...,0,0,0,0,0,0,0,0,0,0
2014.0,955,955,911,955,955,955,955,955,955,955,...,0,0,0,0,0,0,0,0,0,0
2015.0,900,900,900,900,900,900,900,900,900,900,...,0,0,0,0,0,0,0,0,0,0

In [12]:
def combine_year(df_list, year, path):
    num = 1
    while num:
        try:
            temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}{num}.csv')
            df_list.append(temp_df)
            num += 1
        except:
            return df_list
            break

In [34]:
x = combine_year('2011', path)

In [37]:
len(x)

5

In [30]:
year = 2011
num = 1
df_list = []
temp_df = pd.read_csv(path + f'nba_per_ratings{year}{num}.csv')

In [31]:
df_list.append(temp_df)

In [4]:
years = [i for i in range(2011, 2019)]

In [13]:
df_list = []
path = 'unclean_data/mlb_war_by_year/'
for year in years:
    combine_year(df_list, year, path)

In [14]:
len(df_list)

40

In [15]:
df_mlb = pd.concat(df_list, ignore_index = True)

In [10]:
df_mlb.to_csv('nfl_av_ratings_all.csv')

In [16]:
df_mlb

,Rk,Player,WAR/pos,Year,Age,Tm,Lg,G,PA,AB,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos
0,1,Jose Bautista\bautijo02,8.3,2011,30,TOR,AL,149,655,513,...,0,4,8,9,5,0.302,0.447,0.608,1.056,*95/D
1,2,Jacoby Ellsbury\ellsbja01,8.3,2011,27,BOS,AL,158,732,660,...,3,5,8,39,15,0.321,0.376,0.552,0.928,*8/HD
2,3,Matt Kemp\kempma01,8.0,2011,26,LAD,NL,161,689,602,...,0,7,16,40,11,0.324,0.399,0.586,0.986,*8/DH
3,4,Dustin Pedroia\pedrodu01,8.0,2011,27,BOS,AL,159,731,635,...,2,7,12,26,8,0.307,0.387,0.474,0.861,*4/H
4,5,Ryan Braun\braunry02,7.7,2011,27,MIL,NL,150,629,563,...,0,3,9,33,6,0.332,0.397,0.597,0.994,*7/HD
5,6,Miguel Cabrera\cabremi01,7.6,2011,28,DET,AL,161,688,572,...,0,5,24,2,1,0.344,0.448,0.586,1.033,*3/DH
6,7,Ben Zobrist\zobribe01,7.6,2011,30,TBR,AL,156,674,588,...,2,5,9,19,6,0.269,0.353,0.469,0.822,*49/DH
7,8,Alex Gordon\gordoal01,7.3,2011,27,KCR,AL,151,690,611,...,0,3,9,17,8,0.303,0.376,0.502,0.879,*7/3H
8,9,Evan Longoria\longoev01,7.2,2011,25,TBR,AL,133,574,483,...,0,5,11,3,2,0.244,0.355,0.495,0.850,*5/DH
9,10,Ian Kinsler\kinslia01,7.0,2011,29,TEX,AL,155,723,620,...,4,2,17,30,4,0.255,0.355,0.477,0.832,*4D/H
10,11,Adrian Gonzalez\gonzaad01,6.9,2011,29,BOS,AL,159,715,630,...,0,5,28,1,0,0.338,0.410,0.548,0.957,*3/D9
11,12,Joey Votto\vottojo01,6.6,2011,27,CIN,NL,161,719,599,...,0,6,20,8,6,0.309,0.416,0.531,0.947,*3/H
12,13,Troy Tulowitzki\tulowtr01,6.2,2011,26,COL,NL,143,606,537,...,1,5,16,9,3,0.302,0.372,0.544,0.916,*6/H
13,14,Curtis Granderson\grandcu01,6.1,2011,30,NYY,AL,156,691,583,...,4,7,12,25,10,0.262,0.364,0.552,0.916,*8/HD
14,15,Pablo Sandoval\sandopa01,6.0,2011,24,SFG,NL,117,466,426,...,1,7,12,2,4,0.315,0.357,0.552,0.909,*5/H3D
15,16,Robinson Cano\canoro01,5.8,2011,28,NYY,AL,159,681,623,...,0,8,18,8,2,0.302,0.349,0.533,0.882,*4/DH
16,17,Hunter Pence\pencehu01,5.7,2011,28,TOT,NL,154,668,606,...,0,5,15,8,2,0.314,0.370,0.502,0.871,*9/H
17,18,Adrian Beltre\beltrad01,5.6,2011,32,TEX,AL,124,525,487,...,0,8,13,1,1,0.296,0.331,0.561,0.892,*5D/H
18,19,Mike Napoli\napolmi01,5.5,2011,29,TEX,AL,113,432,369,...,0,2,10,4,2,0.320,0.414,0.631,1.046,*23D/H
19,20,Justin Upton\uptonju01,5.5,2011,23,ARI,NL,159,674,592,...,0,4,8,21,9,0.289,0.369,0.529,0.898,*9/H
20,21,Shane Victorino\victosh01,5.5,2011,30,PHI,NL,132,586,519,...,6,0,4,19,3,0.279,0.355,0.491,0.847,*8/H
21,22,Andrew McCutchen\mccutan01,5.4,2011,24,PIT,NL,158,678,572,...,2,6,7,23,10,0.259,0.364,0.456,0.820,*8/HD
22,23,Albert Pujols\pujolal01,5.3,2011,31,STL,NL,147,651,579,...,0,7,29,9,1,0.299,0.366,0.541,0.906,*3/5H
23,24,Matt Wieters\wietema01,5.2,2011,25,BAL,AL,139,551,500,...,0,1,16,1,0,0.262,0.328,0.450,0.778,*2/HD3
24,25,Alex Avila\avilaal01,5.1,2011,24,DET,AL,141,551,464,...,3,8,8,3,1,0.295,0.389,0.506,0.895,*2/HD5
25,26,Peter Bourjos\bourjpe01,4.9,2011,24,LAA,AL,147,552,502,...,7,1,7,22,9,0.271,0.327,0.438,0.765,*8/H
26,27,Brandon Phillips\phillbr01,4.9,2011,30,CIN,NL,150,675,610,...,5,6,15,14,9,0.300,0.353,0.457,0.810,*4/H
27,28,Yunel Escobar\escobyu01,4.8,2011,28,TOR,AL,133,590,513,...,5,5,14,3,3,0.290,0.369,0.413,0.782,*6/HD
28,29,Asdrubal Cabrera\cabreas01,4.7,2011,25,CLE,AL,151,667,604,...,4,4,10,17,5,0.273,0.332,0.460,0.792,*6
29,30,Austin Jackson\jacksau01,4.6,2011,24,DET,AL,153,668,591,...,14,3,11,22,5,0.249,0.317,0.374,0.690,*8/HD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10611,1350,Ricardo Rodriguez\rodriri04,NaN,2018,25,TEX,AL,4,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10612,1351,Josh Rogers\rogerjo01,NaN,2018,23,BAL,AL,3,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10613,1352,Chris Rowley\rowlech01,NaN,2018,27,TOR,AL,2,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10614,1353,Jose Ruiz\ruizjo01,NaN,2018,23,CHW,AL,6,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10615,1354,Nick Rumbelow\rumbeni01,NaN,2018,26,SEA,AL,13,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10616,1355,CC Sabathia\sabatc.01,NaN,2018,37,NYY,AL,29,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10617,1356,Adrian Sampson\sampsad01,NaN,2018,26,TEX,AL,5,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10618,1357,Ervin Santana\santaer01,NaN,2018,35,MIN,AL,5,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10619,1358,Rob Scahill\scahiro01,NaN,2018,31,CHW,AL,6,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10620,1359,Jaime Schultz\schulja02,NaN,2018,27,TBR,AL,22,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10621,1360,Justin Shafer\shafeju01,NaN,2018,25,TOR,AL,6,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10622,1361,Justus Sheffield\sheffju01,NaN,2018,22,NYY,AL,3,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10623,1362,Matt Shoemaker\shoemma01,NaN,2018,31,LAA,AL,7,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10624,1363,Tyler Skaggs\skaggty01,NaN,2018,26,LAA,AL,24,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10625,1364,Aaron Slegers\slegeaa01,NaN,2018,25,MIN,AL,4,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10626,1365,Glenn Sparkman\sparkgl01,NaN,2018,26,KCR,AL,15,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10627,1366,Kohl Stewart\stewako01,NaN,2018,23,MIN,AL,8,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10628,1367,Eric Stout\stouter01,NaN,2018,25,KCR,AL,3,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10629,1368,Stephen Tarpley\tarplst01,NaN,2018,25,NYY,AL,10,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10630,1369,Ben Taylor\taylobe10,NaN,2018,25,CLE,AL,6,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10631,1370,Tyler Thornburg\thornty01,NaN,2018,29,BOS,AL,25,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10632,1371,Chris Tillman\tillmch01,NaN,2018,30,BAL,AL,7,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10633,1372,Andrew Triggs\triggan01,NaN,2018,29,OAK,AL,9,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10634,1373,Nick Tropeano\tropeni01,NaN,2018,27,LAA,AL,14,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10635,1374,Framber Valdez\valdefr01,NaN,2018,24,HOU,AL,8,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10636,1375,Andrew Vasquez\vasquan02,NaN,2018,24,MIN,AL,9,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10637,1376,Thyago Vieira\vieirth01,NaN,2018,24,CHW,AL,16,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10638,1377,Rob Whalen\whalero01,NaN,2018,24,SEA,AL,1,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,/*1
10639,1378,Blake Wood\woodbl01,NaN,2018,32,LAA,AL,13,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1
10640,1379,Jimmy Yacabonis\yacabji01,NaN,2018,26,BAL,AL,12,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,*1

In [9]:
df_nfl.head()

,Rk,Player,Year,Age,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV
0,1,Aaron Rodgers\RodgAa00,2011,28.0,1-24,GNB,NFL,15.0,15.0,1,1,1,23.0
1,2,Tom Brady\BradTo00,2011,34.0,6-199,NWE,NFL,16.0,16.0,1,1,0,21.0
2,3,Drew Brees\BreeDr00,2011,32.0,2-32,NOR,NFL,16.0,16.0,1,1,0,20.0
3,4,Patrick Peterson\PetePa00,2011,21.0,1-5,ARI,NFL,16.0,16.0,1,1,1,20.0
4,5,Jahri Evans\EvanJa21,2011,28.0,4-108,NOR,NFL,16.0,16.0,1,1,1,19.0