In [212]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [224]:
nba_url = 'https://www.spotrac.com/nfl/draft/'
year = '2017'

In [225]:
r = requests.get((nba_url + year))

In [226]:
soup = BeautifulSoup(r.text, 'html.parser')

In [227]:
table_headers = soup.find_all('th')[0:10]
column_names = []
for x in table_headers:
    column_names.append(x.text)
column_names

['Pick',
 'Team',
 'Player',
 'Pos',
 'Age',
 'College',
 'Yrs',
 'Total Value',
 'Signing Bonus',
 '2017 Cap']

In [228]:

df = pd.DataFrame(columns = column_names, index = [i for i in range(256)])

In [229]:
table_data = soup.find_all('td')
for i in range(10):
    print(table_data[i].text)
len(table_data)

1
CLE
 Myles Garrett
DE
21
Texas A&M
4
$30,412,255
$20,258,004
$5,529,501

2530

In [233]:
cnt = -1
for i in range(len(table_data)):
    if(i % 10 == 0):
        cnt += 1
#     print(i)
    temp = table_data[i]
    temp_text = temp.text
    df.iat[cnt, i%10] = temp_text

In [234]:
df

,Pick,Team,Player,Pos,Age,College,Yrs,Total Value,Signing Bonus,2017 Cap
0,1,CLE,Myles Garrett,DE,21,Texas A&M,4,"$30,412,255","$20,258,004","$5,529,501"
1,2,CHI from SF,Mitchell Trubisky,QB,22,North Carolina,4,"$29,032,424","$19,254,490","$5,278,622"
2,3,SF from CHI,Solomon Thomas,DE,21,Stanford,4,"$28,154,366","$18,615,903","$5,118,975"
3,4,JAC,Leonard Fournette,RB,22,Louisiana State,4,"$27,150,842","$17,886,067","$4,936,516"
4,5,TEN from LA,Corey Davis,WR,22,Western Michigan,4,"$25,394,688","$16,608,864","$4,617,216"
5,6,NYJ,Jamal Adams,SS,21,Louisiana State,4,"$22,258,738","$14,328,154","$4,047,038"
6,7,LAC,Mike Williams,WR,22,Clemson,4,"$19,749,928","$12,503,584","$3,590,896"
7,8,CAR,Christian McCaffrey,RB,20,Stanford,4,"$17,241,304","$10,679,128","$3,134,782"
8,9,CIN,John Ross,WR,22,Washington,4,"$17,115,863","$10,587,900","$3,084,444"
9,10,KC from BUF,Patrick Mahomes,QB,21,Texas Tech,4,"$16,425,786","$10,086,026","$2,986,506"
10,11,NO,Marshon Lattimore,CB,20,Ohio State,4,"$15,359,563","$9,310,591","$2,792,647"
11,12,HOU from PHI via CLE,Deshaun Watson,QB,21,Clemson,4,"$13,854,281","$8,215,841","$2,457,014"
12,13,ARI,Haason Reddick,OLB,22,Temple,4,"$13,477,966","$7,942,157","$2,450,539"
13,14,PHI from MIN,Derek Barnett,DE,20,Tennessee,4,"$12,850,772","$7,486,016","$2,336,504"
14,15,IND,Malik Hooker,S,21,Ohio State,4,"$12,599,908","$2,290,892","$2,222,063"
15,16,BAL,Marlon Humphrey,CB,20,Alabama,4,"$11,847,480","$6,756,348","$2,154,087"
16,17,WAS,Jonathan Allen,DE,22,Alabama,4,"$11,596,377","$6,573,728","$2,032,726"
17,18,TEN,Adoree' Jackson,CB,21,Southern California,4,"$11,282,783","$6,345,661","$2,051,415"
18,19,TB,O.J. Howard,TE,22,Alabama,4,"$11,094,618","$6,208,813","$2,003,438"
19,20,DEN,Garett Bolles,LT,24,Utah,4,"$11,031,904","$6,163,203","$2,005,800"
20,21,DET,Jarrad Davis,ILB,22,Florida,4,"$10,969,183","$6,117,587","$1,994,396"
21,22,MIA,Charles Harris,DE,22,Missouri,4,"$10,843,739","$6,026,356","$1,971,589"
22,23,NYG,Evan Engram,TE,22,Mississippi,4,"$10,718,304","$5,935,130","$1,948,782"
23,24,OAK,Gareon Conley,CB,21,Ohio State,4,"$10,467,424","$5,752,672","$1,854,992"
24,25,CLE from HOU,Jabrill Peppers,S,21,Michigan,4,"$10,341,989","$5,661,446","$1,880,361"
25,26,ATL from SEA,Takkarist McKinley,DE,21,California-Los Angeles,4,"$10,216,530","$5,570,204","$1,857,551"
26,27,BUF from KC,Tre'Davious White,CB,22,Louisiana State,4,"$10,091,110","$5,478,989","$1,834,747"
27,28,DAL,Taco Charlton,DE,22,Michigan,4,"$10,028,388","$5,433,373","$1,823,343"
28,29,CLE from GB,David Njoku,TE,20,Miami (FL),4,"$9,525,095","$5,067,342","$1,731,835"
29,30,PIT,T.J. Watt,OLB,22,Wisconsin,4,"$9,258,568","$4,873,504","$1,683,376"
...,...,...,...,...,...,...,...,...,...,...
226,227,TEN from CIN,Josh Carraway,OLB,23,Texas Christian,4,"$2,487,086","$87,086","$486,771"
227,228,DAL from BUF,Joey Ivie,DT,22,Florida,4,"$2,486,489","$86,489","$486,622"
228,229,SF from NO,Adrian Colbert,FS,23,Miami (FL),4,"$2,484,786","$84,786","$486,196"
229,230,WAS from PHI via MIN,Josh Harvey-Clemons,ILB,23,Louisville,4,"$2,484,306","$84,306","$486,076"
230,231,OAK from ARI,Jylan Ware,T,23,Alabama State,4,"$2,484,295","$84,295","$486,073"
231,232,MIN,Elijah Lee,OLB,21,Kansas State,4,"$2,483,145","$83,145","$485,786"
232,233,CAR from IND via CLE,Harrison Butker,K,21,Georgia Tech,4,"$2,483,112","$83,112","$485,778"
233,234,LA from BAL,Ejuan Price,OLB,24,Pittsburgh,4,"$2,482,799","$82,799","$485,699"
234,235,WAS,Joshua Holsey,CB,22,Auburn,4,"$2,480,946","$80,946","$485,236"
235,236,TEN,Brad Seaton,T,23,Villanova,4,"$2,479,551","$79,551","$484,887"
236,237,MIA from TB,Isaiah Ford,WR,21,Virginia Tech,4,"$2,478,301","$78,301","$367,575"
237,238,GB from DEN,Devante Mays,RB,22,Utah State,4,"$2,475,036","$75,036","$483,759"
238,239,DAL from DET via NE,Noah Brown,WR,21,Ohio State,4,"$2,471,938","$71,938","$482,984"
239,240,JAC,Marquez Williams,FB,22,Miami (FL),4,"$2,471,236","$71,236","$365,809"
240,241,TEN from NYG,Khalfani Muhammad,RB,22,California,4,"$2,470,487","$70,487","$482,621"
241,242,OAK,Elijah Hood,RB,21,North Carolina,4,"$2,469,750","$69,750","$482,437"
242,243,HOU,Kyle Fuller,C,23,Baylor,4,"$2,469,216","$69,216","$482,304"
243,244,OAK from SEA,Treyvon Hester,DT,24,Toledo,4,"$2,468,601","$68,601","$482,150"
244,245,MIN from KC,Jack Tocho,CB,21,North Carolina State,4,"$2,468,043","$68,043","$482,010"
245,246,DAL,Jordan Carrell,DT,22,Colorado,4,"$2,467,484","$67,484","$481,871"
246,247,GB,Malachi Dupre,WR,21,Louisiana State,4,"$2,466,636","$66,636","$481,659"
247,248,PIT,Keion Adams,OLB,21,Western Michigan,4,"$2,466,017","$66,017","$364,504"
248,249,SEA from ATL via ATL,Christopher Carson,RB,22,Oklahoma State,4,"$2,465,129","$65,129","$391,811"
249,250,DET from NE,Pat O'Connor,DE,23,Eastern Michigan,4,"$2,464,270","$64,270","$481,067"
250,251 (C),CIN,Mason Schreck,TE,23,Buffalo,4,"$2,464,270","$64,270","$364,067"
251,252 (C),CLE from DEN,Matt Dayes,RB,22,North Carolina State,4,"$2,464,270","$64,270","$481,067"
252,253 (C),DEN,Chad Kelly,QB,23,Mississippi,4,"$2,464,270","$64,270","$364,067"
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
df['year'] = year

In [155]:
df.to_csv(f'nba_draft_player_salaries_{year}.csv',index=False)

In [182]:
#sport argument accepts 'nba', 'nfl', 'mlb' as acceptable arguments
#year is the year that is requested
#rows_count is the number of rows that are to be pulled from the requested site
def scrape_salaries_nba(year):
    
    r = requests.get(f'https://www.spotrac.com/nba/draft/' + year)
    soup = BeautifulSoup(r.text, 'html.parser')
    table_data = soup.find_all('td')
    
    columns = ['pick', 'team', 'player', 'pos', 'height', 'weight', 'country', 'college', 'years', 'dollars', 'year cap hit']
    df = pd.DataFrame(columns = columns, index = [i for i in range(60)])
    
    cnt = -1
    for i in range(len(table_data)):
        if(i % 11 == 0):
            cnt += 1
        df.iat[cnt, i%11] = table_data[i].text
    
    df['year'] = year
    df.to_csv(f'nba_draft_player_salaries_{year}.csv',index=False)

In [241]:
r.status_code

200

In [242]:
def scrape_salaries(sport, year, rows):
    
    #requests site specific to sport and selects all relevant data
    r = requests.get(f'https://www.spotrac.com/{sport}/draft/{year}/')
    
    if r.status_code == 200:

        soup = BeautifulSoup(r.text, 'html.parser')
        table_data = soup.find_all('td')
        table_headers = soup.find_all('th')[0:10]

        #gets column names from table_headers on requested page
        column_names = []
        for x in table_headers:
            column_names.append(x.text)

        #created dataframe to store data
        df = pd.DataFrame(columns = column_names, index = [i for i in range(rows)])
        #loops through requested data and appends it to table in very smart manner
        cnt = -1
        for i in range(len(table_data)):
            if(i % len(table_headers) == 0):
                cnt += 1
            df.iat[cnt, i % len(table_headers)] = table_data[i].text
        #attaches year to dataframe and exports it as .csv
        df['year'] = year
        df.to_csv(f'{sport}_draft_player_salaries_{year}.csv',index=False)
    else:
        return 'Request not successful, Code: ' + r.status_code

In [254]:
scrape_salaries('nfl', '2005', 256)