In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from splinter import Browser
from time import sleep

In [224]:
nba_url = 'https://www.spotrac.com/nfl/draft/'
year = '2017'

In [225]:
r = requests.get((nba_url + year))

In [226]:
soup = BeautifulSoup(r.text, 'html.parser')

In [67]:
table_headers = soup.find_all('th')[0:10]
column_names = []
for x in table_headers:
    column_names.append(x.text.strip())

In [68]:
df = pd.DataFrame(columns = column_names)#, index = [i for i in range(256)])

In [256]:
# table_data = soup.find_all('td')
# for i in range(10):
#     print(table_data[i].text)
# len(table_data)

In [233]:
cnt = -1
for i in range(len(table_data)):
    if(i % 10 == 0):
        cnt += 1
#     print(i)
    temp = table_data[i]
    temp_text = temp.text
    df.iat[cnt, i%10] = temp_text

In [153]:
df['year'] = year

In [155]:
df.to_csv(f'nba_draft_player_salaries_{year}.csv',index=False)

In [182]:
#sport argument accepts 'nba', 'nfl', 'mlb' as acceptable arguments
#year is the year that is requested
#rows_count is the number of rows that are to be pulled from the requested site
def scrape_salaries_nba(year):
    
    r = requests.get(f'https://www.spotrac.com/nba/draft/' + year)
    soup = BeautifulSoup(r.text, 'html.parser')
    table_data = soup.find_all('td')
    
    columns = ['pick', 'team', 'player', 'pos', 'height', 'weight', 'country', 'college', 'years', 'dollars', 'year cap hit']
    df = pd.DataFrame(columns = columns, index = [i for i in range(60)])
    
    cnt = -1
    for i in range(len(table_data)):
        if(i % 11 == 0):
            cnt += 1
        df.iat[cnt, i%11] = table_data[i].text
    
    df['year'] = year
    df.to_csv(f'nba_draft_player_salaries_{year}.csv',index=False)

In [241]:
r.status_code

200

In [242]:
def scrape_salaries(sport, year, rows, num_columns):
    
    #requests site specific to sport and selects all relevant data
    r = requests.get(f'https://www.spotrac.com/{sport}/draft/{year}/')
    
    if r.status_code == 200:

        soup = BeautifulSoup(r.text, 'html.parser')
        table_data = soup.find_all('td')
        table_headers = soup.find_all('th')[0:num_columns]

        #gets column names from table_headers on requested page
        column_names = []
        for x in table_headers:
            column_names.append(x.text)

        #created dataframe to store data
        df = pd.DataFrame(columns = column_names, index = [i for i in range(rows)])
        #loops through requested data and appends it to table in very smart manner
        cnt = -1
        for i in range(len(table_data)):
            if(i % len(table_headers) == 0):
                cnt += 1
            df.iat[cnt, i % len(table_headers)] = table_data[i].text
        #attaches year to dataframe and exports it as .csv
        df['year'] = year
        df.to_csv(f'{sport}_draft_player_salaries_{year}.csv',index=False)
    else:
        return 'Request not successful, Code: ' + r.status_code

In [254]:
scrape_salaries('nfl', '2005', 256, 10)

In [2]:
bb_year = 2010
bb_url = f'https://www.baseballamerica.com/draft-history/mlb-draft-database/#/?Year={bb_year}&Round=0&TeamId=0&Position=&SchoolName=&FourYearSchoolType=true&JuniorCollegeType=false&HighSchoolType=false&OtherSchoolType=false&StateOrCountry=&Signed=&SigningBonusMin=0&SigningBonusMax=0&PlayerName=&OverallNumber=0'

In [19]:
browser = Browser('chrome')

In [20]:
browser.visit(bb_url)

In [30]:
browser.find_by_css('button').last.text

'SEE MORE PLAYERS'

In [35]:
while browser.find_by_css('button').last.text == 'SEE MORE PLAYERS':
    try:
        browser.find_by_css('button').last.click()
    except:
        sleep(.5)

In [49]:
soup = BeautifulSoup(browser.html, 'html.parser')
table_headers = soup.find_all('th')[0:12]

In [48]:
for x in table_headers:
    print(x.text.strip())

Year
RD
Pick
Team
Pos
Player
School
Type
ST
Signed
Bonus
Reports

In [86]:
def scrape_mlb(years):
    browser = Browser('chrome')
    
    for year in years:
        print('starting: ' + str(year))
        url = f'https://www.baseballamerica.com/draft-history/mlb-draft-database/#/?Year={year}&Round=0&TeamId=0&Position=&SchoolName=&FourYearSchoolType=false&JuniorCollegeType=false&HighSchoolType=false&OtherSchoolType=false&StateOrCountry=&Signed=&SigningBonusMin=0&SigningBonusMax=0&PlayerName=&OverallNumber=0'
        browser.visit(url)
        browser.reload()
        
        sleep(2)
        
        
        try:
            while browser.find_by_css('button').last.text == 'SEE MORE PLAYERS':
                browser.find_by_css('button').last.click()
                sleep(.5)
        except:
            print('caught error')

        soup = BeautifulSoup(browser.html, 'html.parser')
        table_data = soup.find_all('td')
        table_headers = soup.find_all('th')[0:12]

        #gets column names from table_headers on requested page
        column_names = []
        for x in table_headers:
            column_names.append(x.text.strip())

        df = pd.DataFrame(columns = column_names, index = [i for i in range(int(len(table_data)/12)+1)])
        #loops through requested data and appends it to table in a not so smart manner
        cnt = -1
        try:
            for i in range((len(table_data))):
                if(i % len(table_headers) == 0):
                    cnt += 1
                if 'colspan' in str(table_data[i]):
                    table_data.pop(i)
                if i % 12 == 3:
                    df.iat[cnt, i % len(table_headers)] = table_data[i].contents[0]['alt']
                else:
                    df.iat[cnt, i % len(table_headers)] = table_data[i].text.strip()
        except:
            print(f'done: {year}')
        df = df.drop(columns = 'Reports')
        df.to_csv(f'mlb_draft_player_salaries_{year}.csv',index=False)

In [ ]:
years = [i for i in range(2009, 2019)]
scrape_mlb(years)

starting: 2009
done: 2009
starting: 2010
done: 2010
starting: 2011
done: 2011
starting: 2012
done: 2012
starting: 2013
done: 2013
starting: 2014
done: 2014
starting: 2015
done: 2015
starting: 2016
done: 2016
starting: 2017

In [46]:
browser = Browser('chrome')

In [47]:
year = '2010'
url = f'https://www.baseballamerica.com/draft-history/mlb-draft-database/#/?Year={year}&Round=0&TeamId=0&Position=&SchoolName=&FourYearSchoolType=false&JuniorCollegeType=false&HighSchoolType=false&OtherSchoolType=false&StateOrCountry=&Signed=&SigningBonusMin=0&SigningBonusMax=0&PlayerName=&OverallNumber=0'
browser.visit(url)

In [48]:
while browser.find_by_css('button').last.text == 'SEE MORE PLAYERS':
    try:
        browser.find_by_css('button').last.click()
    except:
        sleep(.5)

In [49]:
soup = BeautifulSoup(browser.html, 'html.parser')
table_data = soup.find_all('td')
table_headers = soup.find_all('th')[0:12]

In [50]:
column_names = []
for x in table_headers:
    column_names.append(x.text.strip())

In [51]:
df = pd.DataFrame(columns = column_names, index = [i for i in range(int(len(table_data)/12)+1)])
len(table_headers)

12

In [84]:
#loops through requested data and appends it to table in not so smart manner
cnt = -1
try:
    for i in range((len(table_data))):
        if(i % len(table_headers) == 0):
            cnt += 1
        if 'colspan' in str(table_data[i]):
            table_data.pop(i)
#         try:
#             df.iat[cnt, i % len(table_headers)] = table_data[i].contents[0]['alt']
#         except TypeError:
#             df.iat[cnt, i % len(table_headers)] = table_data[i].text.strip()
        if i % 12 == 3:
            df.iat[cnt, i % len(table_headers)] = table_data[i].contents[0]['alt']
        else:
            df.iat[cnt, i % len(table_headers)] = table_data[i].text.strip()
except:
    print(f'done: {year}')

In [77]:
if table_data[15].contents[0]['alt']:
    print(1)

1

In [83]:
table_data[27].contents[0]['alt']

'Orioles'

In [85]:
df

,Year,RD,Pick,Team,Pos,Player,School,Type,ST,Signed,Bonus,Reports
0,2010,1,1,Nationals,OF,Bryce Harper,JC of Southern Nevada,JC,NV,Y,"$6,250,000",Scouting\n BA
1,2010,1,2,Pirates,RHP,Jameson Taillon,The Woodlands (Texas) HS,HS,TX,Y,"$6,500,000",Scouting\n BA
2,2010,1,3,Orioles,SS,Manny Machado,Brito Miami Private HS,HS,FL,Y,"$5,250,000",Scouting\n BA
3,2010,1,4,Royals,SS,Christian Colon,Cal State Fullerton,4YR,CA,Y,"$2,750,000",Scouting\n BA
4,2010,1,5,Indians,LHP,Drew Pomeranz,Mississippi,4YR,MS,Y,"$2,650,000",Scouting\n BA
5,2010,1,6,Diamondbacks,RHP,Barret Loux,Texas A&M,4YR,TX,N,,Scouting\n BA
6,2010,1,7,Mets,RHP,Matt Harvey,North Carolina,4YR,NC,Y,"$2,525,000",Scouting\n BA
7,2010,1,8,Astros,2B,Delino DeShields,"Woodward Academy, College Park, Ga.",HS,GA,Y,"$2,150,000",Scouting\n BA
8,2010,1,9,Padres,RHP,Karsten Whitson,Chipley (Fla.) HS,HS,FL,N,,Scouting\n BA
9,2010,1,10,Athletics,OF,Michael Choice,Texas-Arlington,4YR,TX,Y,"$2,000,000",Scouting\n BA
10,2010,1,11,Blue Jays,RHP,Deck McGuire,Georgia Tech,4YR,GA,Y,"$2,000,000",Scouting\n BA
11,2010,1,12,Reds,C,Yasmani Grandal,Miami,4YR,FL,Y,"$2,000,000",Scouting\n BA
12,2010,1,13,White Sox,LHP,Chris Sale,Florida Gulf Coast,4YR,FL,Y,"$1,656,000",Scouting\n BA
13,2010,1,14,Brewers,RHP,Dylan Covey,"Maranatha HS, Pasadena, Calif.",HS,CA,N,,Scouting\n BA
14,2010,1,15,Rangers,OF,Jake Skole,"Blessed Trinity HS, Roswell, Ga.",HS,GA,Y,"$1,557,000",Scouting\n BA
15,2010,1,16,Cubs,RHP,Hayden Simpson,Southern Arkansas,4YR,AR,Y,"$1,060,000",Scouting\n BA
16,2010,1,17,Rays,OF,Josh Sale,"Bishop Blanchet HS, Seattle",HS,WA,Y,"$1,620,000",Scouting\n BA
17,2010,1,18,Angels,3B,Kaleb Cowart,"Cook HS, Adel, Ga.",HS,GA,Y,"$2,300,000",Scouting\n BA
18,2010,1,19,Astros,RHP,Mike Foltynewicz,Minooka (Ill.) Community HS,HS,IL,Y,"$1,305,000",Scouting\n BA
19,2010,1,20,Red Sox,2B,Kolbrin Vitek,Ball State,4YR,IN,Y,"$1,359,000",Scouting\n BA
20,2010,1,21,Twins,RHP,Alex Wimmers,Ohio State,4YR,OH,Y,"$1,332,000",Scouting\n BA
21,2010,1,22,Rangers,C,Kellin Deglan,"Mountain SS, Langley, B.C.",HS,CN,Y,"$1,000,000",Scouting\n BA
22,2010,1,23,Marlins,OF,Christian Yelich,"Westlake HS, Westlake Village, Calif.",HS,CA,Y,"$1,700,000",Scouting\n BA
23,2010,1,24,Giants,OF,Gary Brown,Cal State Fullerton,4YR,CA,Y,"$1,450,000",Scouting\n BA
24,2010,1,25,Cardinals,3B,Zack Cox,Arkansas,4YR,AR,Y,"$2,000,000",Scouting\n BA
25,2010,1,26,Rockies,OF,Kyle Parker,Clemson,4YR,SC,Y,"$1,400,000",Scouting\n BA
26,2010,1,27,Phillies,LHP,Jesse Biddle,"Germantown Friends HS, Philadelphia",HS,PA,Y,"$1,160,000",Scouting\n BA
27,2010,1,28,Dodgers,RHP,Zach Lee,McKinney (Texas) HS,HS,TX,Y,"$5,250,000",Scouting\n BA
28,2010,1,29,Angels,RHP,Cam Bedrosian,"East Coweta HS, Sharpsburg, Ga.",HS,GA,Y,"$1,116,000",Scouting\n BA
29,2010,1,30,Angels,OF,Chevy Clarke,Marietta (Ga.) HS,HS,GA,Y,"$1,089,000",Scouting\n BA
...,...,...,...,...,...,...,...,...,...,...,...,...
1509,2010,50,1503,Astros,OF,David Donald,"Mann HS, Greenville, S.C.",HS,SC,N,,Scouting\n BA
1510,2010,50,1504,Padres,OF,Gunnar Terhune,UC Santa Barbara,4YR,CA,Y,,
1511,2010,50,1505,Athletics,RHP,T.J. Walz,Kansas,4YR,KS,Y,,Scouting\n BA
1512,2010,50,1506,Blue Jays,C,Kelly Norris-Jones,"Lambrick Park SS, Victoria, B.C.",HS,CN,N,,
1513,2010,50,1507,Reds,OF,Dex Kjerstad,"Randall HS, Amarillo, Texas",HS,TX,N,,Scouting\n BA
1514,2010,50,1508,White Sox,2B,David Vazquez,"Archbishop McCarthy HS, Southwest Ranches, Fla.",HS,FL,N,,
1515,2010,50,1509,Brewers,OF,Chad Jones,Louisiana State,4YR,LA,N,,Scouting\n BA
1516,2010,50,1510,Cubs,SS,Eric Jagielo,Downers Grove (Ill.) North HS,HS,IL,N,,
1517,2010,50,1511,Rays,RHP,Cory Maltz,Weatherford (Texas) JC,JC,TX,N,,
1518,2010,50,1512,Mariners,RHP,David Holman,Hutchinson (Kan.) JC,JC,KS,N,,
1519,2010,50,1513,Tigers,LHP,Jake Ross,Wor-Wic (Md.) JC,JC,MD,N,,
1520,2010,50,1514,Braves,SS,Cory Gabella,"Notre Dame HS, Burlington, Iowa",HS,IA,N,,
1521,2010,50,1515,Twins,3B,James Harris,"Etowah HS, Woodstock, Ga.",HS,GA,N,,
1522,2010,50,1516,Rangers,RHP,Trevor Teykl,"Kempner HS, Sugar Land, Texas",HS,TX,N,,
1523,2010,50,1517,Marlins,1B,Dan Carney,"Notre Dame HS, East Stroudsburg, Pa.",HS,PA,N,,
1524,2010,50,1518,Giants,OF,Golden Tate,Notre Dame,4YR,IL,N,,
1525,2010,50,1519,Cardinals,RHP,Andy Moye,Georgia Southern,4YR,GA,N,,
1526,2010,50,1520,Rockies,RHP,James Dykstra,Yavapai (Ariz.) JC,JC,AZ,N,,Scouting\n BA
1527,2010,50,1521,Phillies,3B,Damek Tomscha,Sioux City (Iowa) North HS,HS,IA,N,,
1528,2010,50,1522,Dodgers,RHP,Taylor Kaczmarek,"Desert Ridge HS, Mesa, Ariz.",HS,AZ,N,,
1529,2010,50,1523,Red Sox,RHP,Weston Hoekel,"Bishop Kenny HS, Jacksonville, Fla.",HS,FL,N,,
1530,2010,50,1524,Angels,LHP,John Wiedenbauer,Tampa,4YR,FL,Y,,Scouting\n BA
1531,2010,50,1525,Yankees,C,Matt Rice,Western Kentucky,4YR,KY,N,,Scouting\n BA
1532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN