In [1]:
import pandas as pd

In [2]:
def combine_year(df_list, year, path):
    num = 1
    while num:
        try:
            temp_df = pd.read_csv(path + f'mlb_war_ratings_{year}{num}.csv')
            df_list.append(temp_df)
            num += 1
        except:
            return df_list
            break

In [3]:
df_list = []
path = 'unclean_data/mlb_war_by_year/'
years = [i for i in range(2011, 2019)]
for year in years:
    combine_year(df_list, year, path)

In [6]:
df = pd.concat(df_list)
df.head()

,Rk,Player,WAR/pos,Year,Age,Tm,Lg,G,PA,AB,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos
0,1,Jose Bautista\bautijo02,8.3,2011,30,TOR,AL,149,655,513,...,0,4,8,9,5,0.302,0.447,0.608,1.056,*95/D
1,2,Jacoby Ellsbury\ellsbja01,8.3,2011,27,BOS,AL,158,732,660,...,3,5,8,39,15,0.321,0.376,0.552,0.928,*8/HD
2,3,Matt Kemp\kempma01,8.0,2011,26,LAD,NL,161,689,602,...,0,7,16,40,11,0.324,0.399,0.586,0.986,*8/DH
3,4,Dustin Pedroia\pedrodu01,8.0,2011,27,BOS,AL,159,731,635,...,2,7,12,26,8,0.307,0.387,0.474,0.861,*4/H
4,5,Ryan Braun\braunry02,7.7,2011,27,MIL,NL,150,629,563,...,0,3,9,33,6,0.332,0.397,0.597,0.994,*7/HD

In [7]:
temp = df.drop(df.loc[df['G'] > 0])

KeyError: "['Rk' 'Player' 'WAR/pos' 'Year' 'Age' 'Tm' 'Lg' 'G' 'PA' 'AB' 'R' 'H' '2B'\n '3B' 'HR' 'RBI' 'BB' 'IBB' 'SO' 'HBP' 'SH' 'SF' 'GDP' 'SB' 'CS' 'BA'\n 'OBP' 'SLG' 'OPS' 'Pos'] not found in axis"

In [13]:
temp = df

In [60]:
df.dropna(how = 'any', subset = ['WAR/pos'], inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df = df[['Player', 'WAR/pos', 'Year']]
df['id'] = ''
df.head()

                      Player  WAR/pos  Year id
0    Jose Bautista\bautijo02      8.3  2011
1  Jacoby Ellsbury\ellsbja01      8.3  2011
2         Matt Kemp\kempma01      8.0  2011
3   Dustin Pedroia\pedrodu01      8.0  2011
4       Ryan Braun\braunry02      7.7  2011

In [10]:
for i in range(len(df)):
    name, _id = df.iat[i, 0].split('\\')
    df.iat[i, 0] = name
    df.iat[i, 3] = _id

In [13]:
df

                player  war  year         id
0        Jose Bautista  8.3  2011  bautijo02
1      Jacoby Ellsbury  8.3  2011  ellsbja01
2            Matt Kemp  8.0  2011   kempma01
3       Dustin Pedroia  8.0  2011  pedrodu01
4           Ryan Braun  7.7  2011  braunry02
5       Miguel Cabrera  7.6  2011  cabremi01
6          Ben Zobrist  7.6  2011  zobribe01
7          Alex Gordon  7.3  2011  gordoal01
8        Evan Longoria  7.2  2011  longoev01
9          Ian Kinsler  7.0  2011  kinslia01
10     Adrian Gonzalez  6.9  2011  gonzaad01
11          Joey Votto  6.6  2011  vottojo01
12     Troy Tulowitzki  6.2  2011  tulowtr01
13   Curtis Granderson  6.1  2011  grandcu01
14      Pablo Sandoval  6.0  2011  sandopa01
15       Robinson Cano  5.8  2011   canoro01
16        Hunter Pence  5.7  2011  pencehu01
17       Adrian Beltre  5.6  2011  beltrad01
18         Mike Napoli  5.5  2011  napolmi01
19        Justin Upton  5.5  2011  uptonju01
20     Shane Victorino  5.5  2011  victosh01
21    Andrew McCutchen  5.4  2011  mccutan01
22       Albert Pujols  5.3  2011  pujolal01
23        Matt Wieters  5.2  2011  wietema01
24          Alex Avila  5.1  2011  avilaal01
25       Peter Bourjos  4.9  2011  bourjpe01
26    Brandon Phillips  4.9  2011  phillbr01
27       Yunel Escobar  4.8  2011  escobyu01
28    Asdrubal Cabrera  4.7  2011  cabreas01
29      Austin Jackson  4.6  2011  jacksau01
..                 ...  ...   ...        ...
149  Ricardo Rodriguez  NaN  2018  rodriri04
150        Josh Rogers  NaN  2018  rogerjo01
151       Chris Rowley  NaN  2018  rowlech01
152          Jose Ruiz  NaN  2018   ruizjo01
153      Nick Rumbelow  NaN  2018  rumbeni01
154        CC Sabathia  NaN  2018  sabatc.01
155     Adrian Sampson  NaN  2018  sampsad01
156      Ervin Santana  NaN  2018  santaer01
157        Rob Scahill  NaN  2018  scahiro01
158      Jaime Schultz  NaN  2018  schulja02
159      Justin Shafer  NaN  2018  shafeju01
160   Justus Sheffield  NaN  2018  sheffju01
161     Matt Shoemaker  NaN  2018  shoemma01
162       Tyler Skaggs  NaN  2018  skaggty01
163      Aaron Slegers  NaN  2018  slegeaa01
164     Glenn Sparkman  NaN  2018  sparkgl01
165       Kohl Stewart  NaN  2018  stewako01
166         Eric Stout  NaN  2018  stouter01
167    Stephen Tarpley  NaN  2018  tarplst01
168         Ben Taylor  NaN  2018  taylobe10
169    Tyler Thornburg  NaN  2018  thornty01
170      Chris Tillman  NaN  2018  tillmch01
171      Andrew Triggs  NaN  2018  triggan01
172      Nick Tropeano  NaN  2018  tropeni01
173     Framber Valdez  NaN  2018  valdefr01
174     Andrew Vasquez  NaN  2018  vasquan02
175      Thyago Vieira  NaN  2018  vieirth01
176         Rob Whalen  NaN  2018  whalero01
177         Blake Wood  NaN  2018   woodbl01
178    Jimmy Yacabonis  NaN  2018  yacabji01

[10641 rows x 4 columns]

In [12]:
df = df.rename(columns = {'WAR/pos': 'war', 'Year':'year', 'Player':'player'})

In [14]:
df.to_csv('../static/data/mlb_player_war_year.csv', index = False)

In [35]:
df.head()

            player  war  year
0    Jose Bautista  8.3  2011
1  Jacoby Ellsbury  8.3  2011
2        Matt Kemp  8.0  2011
3   Dustin Pedroia  8.0  2011
4       Ryan Braun  7.7  2011

In [33]:
mlb_states = pd.read_csv('../static/data/mlb_war_player_state.csv').drop(columns = 'Unnamed: 0')[['Player', 'Year', 'state']]

In [38]:
mlb_states.rename(columns = {'Player':'player', 'Year':'year'}, inplace = True)

In [41]:
len(df)

9798

In [43]:
merged = mlb_states.merge(df, how = 'left')

In [45]:
merged[['year', 'state', 'war']].to_csv('../static/data/year_state_war.csv', index = False)

In [64]:
merged.groupby(['year', 'state']).mean().reset_index().loc[merged['war'] > 0].to_csv('../static/data/year_state_war_avg.csv', index = False)

In [66]:
x = merged.loc[merged['war'] > 0]

In [70]:
x.groupby(['year', 'state']).mean().reset_index().to_csv('../static/data/year_state_war_avg.csv', index = False)

In [92]:
nfl = pd.read_csv('../static/data/year_state_av_avg.csv')
mlb = pd.read_csv('../static/data/year_state_war_avg.csv')
nba = pd.read_csv('../static/data/year_state_per_avg.csv')

In [94]:
df = nba
nba['war'] = 0
nba['av'] = 0

In [132]:
for i in range(len(nba)):
    year = df.iat[i, 0]
    state = df.iat[i, 1]
    if (mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].empty):
        print()
    else:
        df.iat[i, 3] = mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].iat[0, 2]
        
    if (nfl.loc[(nfl['state'] == state) & (nfl['year'] == year)].empty):
        print()
    else:
        df.iat[i, 4] = nfl.loc[(nfl['state'] == state) & (nfl['year'] == year)].iat[0, 2]

In [135]:
nba.to_csv('../static/data/year_state_sm_avg.csv', index = False)

In [186]:
year = 2012
state = 'TX'

In [125]:
mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].empty

True

In [136]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [164]:
df = pd.DataFrame(columns = {'states', 'year'}, index = [i for i in range(len(states))])

In [165]:
len(df)

51

In [167]:
df['states'] = states

In [170]:
df = pd.concat([df, df, df, df, df, df, df, df])

In [171]:
num = 0
for i in range(len(df)):
    if i % 51 == 0:
        num += 1
    df.iat[i, 1] = 2010+num

In [188]:
df['per'] = 0.0
df['war'] = 0.0
df['av'] = 0.0
df.head()

  states  year  per  war   av
0     AL  2011  0.0  0.0  0.0
1     AK  2011  0.0  0.0  0.0
2     AZ  2011  0.0  0.0  0.0
3     AR  2011  0.0  0.0  0.0
4     CA  2011  0.0  0.0  0.0

In [189]:
for i in range(len(df)):
    year = df.iat[i, 1]
    state = df.iat[i, 0]
    
    if not (mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].empty):
        df.iat[i, 3] = mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].iat[0, 2]
        
    if not (nfl.loc[(nfl['state'] == state) & (nfl['year'] == year)].empty):
        df.iat[i, 4] = nfl.loc[(nfl['state'] == state) & (nfl['year'] == year)].iat[0, 2]
        
    if not (nba.loc[(nba['state'] == state) & (nba['year'] == year)].empty):
        df.iat[i, 2] = nba.loc[(nba['state'] == state) & (nba['year'] == year)].iat[0, 2]

In [191]:
df.to_csv('../static/data/year_state_sm_avg.csv', index = False)

In [187]:
 mlb.loc[(mlb['state'] == state) & (mlb['year'] == year)].iat[0, 2]

1.7120000000000004

In [190]:
df

   states  year        per       war        av
0      AL  2011  13.266667  1.587500  3.741573
1      AK  2011   0.000000  0.000000  2.750000
2      AZ  2011  12.514286  2.186667  3.027778
3      AR  2011  10.966667  0.933333  3.750000
4      CA  2011  13.584091  1.265455  3.153226
5      CO  2011  12.600000  0.000000  3.161290
6      CT  2011  12.988889  0.700000  2.000000
7      DC  2011   8.950000  0.000000  0.000000
8      DE  2011   0.000000  0.000000  0.333333
9      FL  2011  11.745000  2.072000  3.639456
10     GA  2011  12.088889  1.875000  3.692308
11     HI  2011   9.200000  0.000000  2.500000
12     ID  2011  11.400000  2.600000  3.269231
13     IL  2011  10.675000  3.100000  3.731707
14     IN  2011  12.025000  1.566667  3.121212
15     IA  2011   9.633333  0.000000  3.265306
16     KS  2011  11.750000  1.033333  1.571429
17     KY  2011  13.438889  0.750000  3.514286
18     LA  2011  13.815385  0.866667  3.849315
19     ME  2011   0.000000  0.000000  2.400000
20     MD  2011  12.216667  1.800000  3.781250
21     MA  2011  13.900000  1.850000  4.212121
22     MI  2011  12.043750  0.500000  4.506494
23     MN  2011  11.050000  2.300000  1.300000
24     MS  2011   9.675000  0.760000  3.553571
25     MO  2011   0.000000  2.400000  3.551724
26     MT  2011   0.000000  0.000000  1.666667
27     NE  2011  13.150000  7.300000  3.437500
28     NV  2011  11.428571  0.266667  3.272727
29     NH  2011   0.000000  0.000000  4.000000
..    ...   ...        ...       ...       ...
21     MA  2018  14.100000  0.000000  4.130435
22     MI  2018  13.412500  0.100000  3.895522
23     MN  2018   0.000000  0.000000  3.888889
24     MS  2018   0.000000  0.666667  4.659091
25     MO  2018   0.000000  1.180000  3.000000
26     MT  2018   0.000000  0.000000  3.666667
27     NE  2018  12.566667  1.300000  2.950000
28     NV  2018  12.000000  0.100000  3.166667
29     NH  2018   0.000000  0.000000  4.000000
30     NJ  2018  11.500000  1.900000  2.187500
31     NM  2018  16.133333  0.000000  2.833333
32     NY  2018  12.036364  0.000000  3.687500
33     NC  2018  13.065217  0.800000  3.436364
34     ND  2018   0.000000  0.000000  4.142857
35     OH  2018  15.014286  0.500000  4.355263
36     OK  2018  13.220000  0.100000  3.478261
37     OR  2018  10.900000  0.500000  3.590909
38     PA  2018   9.590909  0.700000  4.346154
39     RI  2018  20.300000  0.000000  1.000000
40     SC  2018  16.733333  1.483333  4.222222
41     SD  2018  -2.900000  0.000000  3.500000
42     TN  2018  12.087500  1.000000  3.254545
43     TX  2018  15.237500  2.542857  3.410448
44     UT  2018  16.666667  0.000000  3.292683
45     VT  2018   0.000000  0.000000  0.000000
46     VA  2018  11.490909  0.700000  2.350000
47     WA  2018  14.830000  0.000000  3.193548
48     WV  2018  24.100000  1.250000  2.578947
49     WI  2018  11.800000  0.000000  5.400000
50     WY  2018   0.000000  0.000000  2.833333

[408 rows x 5 columns]