In [31]:
import pandas as pd
from scipy import stats

In [74]:
df = pd.read_csv('data/mlb_war_ratings_all.csv')
# df = df[df['AV'] >= 0]
df.dropna(subset = ['WAR/pos'], inplace = True)
df.reset_index(drop = True, inplace = True)
df.tail()

,Unnamed: 0,Rk,Player,WAR/pos,Year,Age,Tm,Lg,G,PA,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos
9793,10532,1271,Pat Valaika\valaipa01,-1.3,2018,25,COL,NL,68,133,...,2,0,4,0,0,0.156,0.214,0.246,0.460,H43/56
9794,10533,1272,Dexter Fowler\fowlede01,-1.4,2018,32,STL,NL,90,334,...,0,4,2,5,2,0.180,0.278,0.298,0.576,*9H
9795,10534,1273,Noel Cuevas\cuevano01,-1.5,2018,26,COL,NL,75,153,...,0,0,1,1,0,0.233,0.268,0.315,0.583,H97/8
9796,10535,1274,Austin Jackson\jacksau01,-1.8,2018,31,TOT,NL,116,375,...,0,1,8,3,3,0.245,0.299,0.326,0.624,*8H/7
9797,10536,1275,Chris Davis\davisch02,-2.8,2018,32,BAL,AL,128,522,...,0,4,5,2,0,0.168,0.243,0.296,0.539,*3D/H

In [62]:
stats.percentileofscore(df['PER'], 33)

99.79349509550852

In [75]:
df['percentile_per'] = 0
for i in range(len(df['WAR/pos'])):
    av = df.loc[i]['WAR/pos']
    df.iat[i, 3] = stats.percentileofscore(df['WAR/pos'], av)

In [36]:
df.loc[2]['AV']

20.0

In [76]:
df.head()

,Unnamed: 0,Rk,Player,WAR/pos,Year,Age,Tm,Lg,G,PA,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,percentile_per
0,0,1,Jose Bautista\bautijo02,99.882629,2011,30,TOR,AL,149,655,...,4,8,9,5,0.302,0.447,0.608,1.056,*95/D,0
1,1,2,Jacoby Ellsbury\ellsbja01,99.877526,2011,27,BOS,AL,158,732,...,5,8,39,15,0.321,0.376,0.552,0.928,*8/HD,0
2,2,3,Matt Kemp\kempma01,99.831598,2011,26,LAD,NL,161,689,...,7,16,40,11,0.324,0.399,0.586,0.986,*8/DH,0
3,3,4,Dustin Pedroia\pedrodu01,99.826495,2011,27,BOS,AL,159,731,...,7,12,26,8,0.307,0.387,0.474,0.861,*4/H,0
4,4,5,Ryan Braun\braunry02,99.739743,2011,27,MIL,NL,150,629,...,3,9,33,6,0.332,0.397,0.597,0.994,*7/HD,0

In [69]:
df.to_csv('data/nba_per_ratings_all.csv')