In [133]:
import requests
import pandas as pd
from splinter import Browser
from time import sleep
from bs4 import BeautifulSoup
from math import ceil
from difflib import SequenceMatcher

In [18]:
#takes a list_iterator object and pull the children from it returning a list
def children_to_list(list):
    result = []
    for l in list:
        result.append(l)
        
    return result # RETURNS LIST

In [175]:
#RETURNS LIST
def scrape_player_data(player):
    name = test[1][0:5] + test[0][0:2]
    number = 0
    url = f'https://www.baseball-reference.com/players/{name.lower()[0]}/{name.lower()}0{number}.shtml'
    
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    if '404' in soup.find_all('h1'):
        number += 1
        url = f'https://www.baseball-reference.com/players/{name.lower()[0]}/{name.lower()}0{number}.shtml'
        r = requests.get(url)
    
    stats = []   
    
    child_list = children_to_list(soup.find_all('div', class_ = 'stats_pullout')[0].children)
    
    if len(child_list[0].find_all('p')) == 2:
        for child in child_list:
            p_list = child.find_all('p')
            for i in range(len(p_list)):
                if (i % 2 == 1):
                    stats.append(p_list[i].text)
    elif len(child_list[0].find_all('p')) == 1:
        for child in child_list:
            p_list = child.find_all('p')
            for p in p_list:
                stats.append[p.text]
    return stats

In [3]:
player_df = pd.read_csv('nfl_av_ratings/nfl_av_ratings_all.csv')

In [12]:
player_df = player_df[['Rk', 'Player', 'From', 'To', 'Draft', 'Tm', 'Lg', 'G','GS', 'Yrs', 'PB', 'AP1', 'AV']]
player_df.head()

,Rk,Player,From,To,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV
0,1,Tom Brady\BradTo00,2009,2018,6-199,NWE,NFL,156.0,156.0,10,10,2,165
1,2,Drew Brees\BreeDr00,2009,2018,2-32,NOR,NFL,157.0,157.0,10,9,0,161
2,3,Aaron Rodgers\RodgAa00,2009,2018,1-24,GNB,NFL,142.0,142.0,10,7,2,155
3,4,Matt Ryan\RyanMa00,2009,2018,1-3,ATL,NFL,158.0,158.0,10,4,1,152
4,5,Philip Rivers\RivePh00,2009,2018,1-4,SDG,NFL,160.0,160.0,10,7,0,143

In [17]:
player_list = player_df['Player']
player_list[0].split('\\')[1]

'BradTo00'

In [31]:
name = player_list[0].split('\\')[1]
url = f'https://www.pro-football-reference.com/players/{name[0]}/{name}.htm'
url

'https://www.pro-football-reference.com/players/B/BradTo00.htm'

In [21]:
r = requests.get(url)

In [23]:
soup = BeautifulSoup(r.text, 'html.parser')

In [41]:
meta = soup.find('div', class_ = 'players').find('div').find_all('p')

In [59]:
meta[5].find_all('p')

[<p><strong><a href="/blog/?page_id=518">Weighted Career AV (100-95-...)</a>:</strong> 175 (2nd overall since 1960)
 </p>, <p><strong>High School</strong>:

 		<a href="/schools/high_schools.cgi?id=93b8d6c3">Junipero Serra</a> (<a href="/schools/high_schools.cgi?hs_state=CA">CA</a>)

 </p>, <p><strong>Draft</strong>: <a href="/teams/nwe/2000_draft.htm">New England Patriots</a> in the 6th round (199th overall) of the <a href="/years/2000/draft.htm">2000 NFL Draft</a>.</p>, <p><strong>Current salary</strong>: <a href="/players/salary.htm">14,000,000</a></p>]

In [65]:
r = requests.get('https://api.nfl.com/v1/persons/32004d41-4371-0352-e57d-251eacb121bd?fs={playerStats{teamStats{passing}}}')

In [66]:
r.status_code

401

In [71]:
states = ["Alaska","Alabama","Arkansas","American Samoa","Arizona","California","Colorado","Connecticut","District of Columbia","Delaware","Florida","Georgia","Guam","Hawaii","Iowa","Idaho","Illinois","Indiana","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Missouri","Mississippi","Montana","North Carolina","North Dakota","Nebraska","New Hampshire","New Jersey","New Mexico", "Nevada", "New York","Ohio","Oklahoma","Oregon","Pennsylvania", "Rhode Island", "South Carolina","South Dakota","Tennessee","Texas","Utah","Virginia","Virgin Islands","Vermont","Washington","Wisconsin","West Virginia","Wyoming"]

In [84]:
url = f'https://en.wikipedia.org/wiki/List_of_colleges_and_universities_in_{states[1]}'

In [85]:
r = requests.get(url)

In [86]:
soup = BeautifulSoup(r.text, 'html.parser')

In [121]:
u_list = soup.find(class_ = 'mw-parser-output').find_all('th')[7::]

In [122]:
for i in range(len(u_list)):
    if '[b]' in u_list[i].text:
        u_list[i] = u_list[i].text.strip()
        u_list[i] = u_list[i][0:len(u_list[i])-3]
    else:
        u_list[i] = u_list[i].text.strip()

In [126]:
df = pd.DataFrame(columns = ['state', 'school'], index = [i for i in range(len(u_list))])
df['state'] = states[1]
df['school'] = u_list

In [128]:
df.to_csv('alabama_universities.csv')

In [134]:
u_df = pd.read_csv('Colleges_and_Universities.csv')

In [137]:
u_df = u_df[['NAME', 'STATE']]
len(u_df)

7520

In [138]:
df = pd.read_json('nfl_profiles.json')

In [139]:
df

,birth_date,birth_place,college,current_salary,current_team,death_date,draft_position,draft_round,draft_team,draft_year,height,high_school,hof_induction_year,name,player_id,position,weight
0,1967-05-12,"Bay City, TX",Baylor,None,None,None,34.0,2.0,Seattle Seahawks,1990.0,6-0,"Van Vleck, TX",NaN,Robert Blackmon,1809,DB,208.0
1,1970-07-20,"Louisville, KY",Kentucky,None,None,None,85.0,4.0,Seattle Seahawks,1993.0,6-3,"Holy Cross, KY",NaN,Dean Wells,23586,LB,248.0
2,1990-08-14,"Newton, MA",Oregon,"1,075,000",Miami Dolphins,None,46.0,2.0,Buffalo Bills,2013.0,6-3,"Los Gatos, CA",NaN,Kiko Alonso,355,ILB,238.0
3,1948-04-22,"Dallas, TX",North Texas,None,None,1999-10-15,126.0,5.0,New Orleans Saints,1970.0,6-2,"W.W. Samuell, TX",NaN,Steve Ramsey,18182,QB,210.0
4,1988-02-27,"Neptune, NJ",Miami (FL),None,None,None,NaN,NaN,None,NaN,6-0,"Neptune, NJ",NaN,Cory Nelms,16250,CB,195.0
5,1982-08-18,"Columbus, GA",Notre Dame,None,None,None,144.0,5.0,St. Louis Rams,2005.0,6-4,"Wheaton-Warrenville South, IL",NaN,Jerome Collins,4310,TE,267.0
6,1992-10-27,"Cincinnati, OH",Louisville,"1,762,000",Buffalo Bills,None,73.0,3.0,Buffalo Bills,2014.0,6-1,"Northwest, OH",NaN,Preston Brown,2701,ILB,251.0
7,1945-03-17,"Steubenville, OH",Wyoming,None,None,None,NaN,NaN,None,NaN,5-11,"Steubenville, OH",NaN,Hub Lindsey,13379,RB,196.0
8,1978-11-11,"Suitland, MD",Maryland,None,None,None,49.0,2.0,New York Jets,2001.0,5-10,"Suitland, MD",NaN,LaMont Jordan,11755,RB,230.0
9,1921-10-06,"Brooklyn, NY",Dartmouth,None,None,None,178.0,18.0,Pittsburgh Steelers,1945.0,5-11,"Boys, NY",NaN,Alex Wizbicki,24550,DB-HB,188.0
10,1971-12-31,"East Meadowbrook, NY",Wesleyan,None,None,None,NaN,NaN,None,NaN,6-4,"Phillips Exeter Academy, NH",NaN,Jeff Wilner,24331,TE,245.0
11,1967-06-27,"Montville, NJ",Stanford,None,None,None,186.0,7.0,Green Bay Packers,1990.0,6-5,"Montville, NJ",NaN,Lester Archambeau,578,DE,275.0
12,1904-02-06,"Emmetsburg, IA",Drake,None,None,2000-03-05,NaN,NaN,None,NaN,5-9,"Emmetsburg, IA",NaN,Bob Mahan,13878,B-E,178.0
13,1993-06-14,"Cleveland, OH",Michigan,"774,294",Seattle Seahawks,None,63.0,2.0,Seattle Seahawks,2015.0,6-2,"Glenville, OH",NaN,Frank Clark,3966,DE,270.0
14,1968-01-04,"Pine Bluff, AR",La-Monroe,None,None,None,102.0,4.0,Green Bay Packers,1990.0,6-4,"Pine Bluff, AR",NaN,Jackie Harris,9175,TE,244.0
15,1993-09-15,"Hampton, GA",Troy,None,None,None,NaN,NaN,None,NaN,5-9,"Griffin, GA",NaN,Chandler Worthy,24698,WR,173.0
16,1945-11-08,"Holdenville, OK",none,None,None,2001-01-11,NaN,NaN,None,NaN,5-10,"Frederick Douglass, OK",NaN,Ken Brown,2657,RB,203.0
17,1909-10-19,"San Francisco, CA",Washington St.,None,None,1989-12-17,NaN,NaN,None,NaN,6-0,"Wilmerding, CA",NaN,George Hurley,10547,G,200.0
18,1992-03-24,"South Bend, IN",Southern Illinois,None,None,None,143.0,5.0,Minnesota Vikings,2015.0,6-2,"Kirkwood, MO",NaN,MyCole Pruitt,18011,TE,251.0
19,1899-10-05,"Chicago, IL",Wisconsin,None,None,1951-06-30,NaN,NaN,None,NaN,6-2,"Taylorville, IL",NaN,Don Murry,16101,T-E-G,191.0
20,1959-09-13,"Phenix City, AL",Alabama,None,None,None,180.0,7.0,Kansas City Chiefs,1981.0,5-10,"Central, AL",NaN,Billy Jackson,10730,RB,217.0
21,1963-02-10,"Baton Rouge, LA",LSU,None,None,None,NaN,NaN,None,NaN,6-1,"Central, LA",NaN,Shawn Burks,3015,LB,230.0
22,1988-07-12,"Teachey, NC",North Carolina St.,None,None,None,67.0,3.0,Denver Broncos,2011.0,6-1,"Wallace-Rose, NC",NaN,Nate Irving,10668,LB,242.0
23,1937-06-11,"Bellaire, OH",Florida,None,None,1963-06-04,327.0,28.0,Chicago Cardinals,1959.0,6-0,"Shadyside, OH",NaN,Don Fleming,7004,DB,188.0
24,1961-03-06,None,Delaware St.,None,None,None,NaN,NaN,None,NaN,6-2,None,NaN,Frank Nicholson,16395,LB,205.0
25,1915-04-08,"La Crosse, WI",Wisconsin,None,None,2000-01-06,NaN,NaN,None,NaN,6-2,"Logan, WI",NaN,Clarence Tommerson,22401,HB,196.0
26,1944-01-14,"Breaux Bridge, LA",LSU,None,None,None,73.0,8.0,Buffalo Bills,1966.0,6-3,"Breaux Bridge, LA",NaN,Paul Guidry,8630,LB,227.0
27,1949-04-03,"Dallas, TX",West Texas A&M;,None,None,None,126.0,5.0,Pittsburgh Steelers,1971.0,6-2,"Lincoln, TX",NaN,Ralph Anderson,480,DB,180.0
28,1963-03-11,"Houston, TX",Texas A&M;,None,None,None,106.0,4.0,Philadelphia Eagles,1986.0,6-4,"Cheyenne Mountain, CO",NaN,Matt Darwin,5113,T-C,268.0
29,1952-01-20,"Jackson, MS",Miss. Valley St.,None,None,None,337.0,13.0,Pittsburgh Steelers,1975.0,5-11,"W.H. Lanier, MS",NaN,Bob Gaddis,7483,WR,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25013,1986-05-25,"Warren, OH",Michigan,None,None,None,95.0,3.0,New York Giants,2008.0,6-0,"Warren G. Harding, OH",NaN,Mario Manningham,13991,WR,185.0
25014,1930-08-11,"Lawndale, CA",UCLA,None,None,1993-11-15,167.0,14.0,New York Giants,1952.0,6-1,"Leuzinger, CA",NaN,Hal Mitchell,15482,T-G,225.0
25015,1985-10-14,"Lakeland, FL",California,None,None,None,233.0,7.0,Seattle Seahawks,2008.0,5-8,"Polk, FL",NaN,Justin Forsett,7155,RB,190.0
25016,1961-10-18,"New Albany, MS",Southern Miss,None,None,None,233.0,9.0,Atlanta Falcons,1984.0,6-7,"W.P. Daniel, MS",NaN,Glen Howe,10315,T,295.0
25017,1962-11-06,"Grand Junction, CO",Colorado St.,None,None,None,NaN,NaN,None,NaN,6-2,"Grand Junction, CO",NaN,Mark Miller,15345,QB,210.0
25018,1967-08-14,"Jackson, MS",Alcorn St.,None,None,None,120.0,5.0,San Diego Chargers,1989.0,6-2,"Callaway, MS",NaN,Elliot Smith,20606,DB,192.0
25019,1962-06-24,"Mesa, AZ",BYU,None,None,None,24.0,1.0,San Francisco 49ers,1984.0,6-4,"Mountain View, AZ",NaN,Todd Shell,20072,LB,225.0
25020,1985-08-24,"Fishers, IN",West. Michigan,None,None,None,NaN,NaN,None,NaN,6-7,"Hamilton Southeastern, IN",NaN,Joe Reitz,18456,T,256.0
25021,1979-09-15,"Norman, OK",Oklahoma,None,None,None,223.0,7.0,Baltimore Ravens,2003.0,6-5,"Clinton, OK",NaN,Trent Smith,20803,TE,245.0
25022,1972-10-19,"Longview, TX",Grambling St.,None,None,None,NaN,NaN,None,NaN,6-1,"Pine Tree, TX",NaN,Jason Bratton,2291,RB,252.0
25023,1955-08-26,"Sharon, PA",Pittsburgh,None,None,None,21.0,1.0,Minnesota Vikings,1978.0,6-5,"Sharon, PA",NaN,Randy Holloway,10098,DE,250.0
25024,1971-06-11,"Richmond, VA",James Madison,None,None,None,NaN,NaN,None,NaN,6-3,"Meadowbrook, VA",NaN,Dion Foxx,7235,LB,250.0
25025,1974-11-07,"Allentown, PA",North Carolina,None,None,None,131.0,5.0,Buffalo Bills,1998.0,6-1,"Catasauqua, PA",NaN,Jonathan Linton,13402,RB,234.0
25026,1894-07-12,"St. Cloud, MN",Notre Dame,None,None,1964-08-11,NaN,NaN,None,NaN,6-1,"St. Cloud, MN",NaN,Cy DeGree,5425,T-G,210.0
25027,1893-04-10,"New Plymouth, OH",West Virginia Wesleyan,None,None,1969-03-00,NaN,NaN,None,NaN,5-9,None,NaN,Harry Harris,9171,BB,175.0
25028,1898-10-25,"Tampa, FL",Holy Cross,None,None,1984-01-12,NaN,NaN,None,NaN,5-7,"Staunton Military Academy, VA",NaN,Harry McMahon,14935,BB,150.0
25029,1961-11-06,"Laurel, MS",Southern Miss,None,None,None,NaN,NaN,None,NaN,6-2,"Columbia, MS",NaN,Mike Landrum,12824,TE,231.0
25030,1956-12-18,"White Plains, NY",Rhode Island,None,None,None,208.0,8.0,Pittsburgh Steelers,1978.0,6-0,"Scarsdale, NY",NaN,Rick Moser,15903,RB,210.0
25031,1933-08-30,"Cleveland, OH",Kent St.,None,None,1969-08-12,NaN,NaN,None,NaN,6-3,"Twinsburg, OH",NaN,Joe Barbee,1025,DT,250.0
25032,1988-12-14,"Piqua, OH",Ohio St.,None,None,None,NaN,NaN,None,NaN,5-11,"Piqua, OH",NaN,Brandon Saine,19372,RB,220.0
25033,1932-06-29,"Philadelphia, PA",Notre Dame,None,None,2007-09-07,NaN,NaN,None,NaN,6-2,"Southeast Catholic, PA",NaN,Ed Cook,4461,T-G,245.0
25034,1965-03-11,"Bellville, TX",Texas A&M;,None,None,None,41.0,2.0,Green Bay Packers,1987.0,6-2,"Hempstead, TX",NaN,Johnny Holland,10062,LB,231.0
25035,1989-03-16,"Paradise, CA",Oregon,None,None,None,NaN,NaN,None,NaN,6-0,"Paradise, CA",NaN,Jeff Maehl,13852,WR,190.0
25036,1925-05-01,"Bethlehem, PA",Pennsylvania,None,None,2015-03-21,1.0,1.0,Philadelphia Eagles,1949.0,6-3,"Liberty, PA",NaN,Chuck Bednarik,1398,LB-C,233.0
25037,1928-06-07,"Dallas, TX",Sam Houston St.,None,None,2006-08-29,NaN,NaN,None,NaN,6-2,"Booker T. Washington, TX",NaN,Jimmy Hill,9860,DB,192.0
25038,1924-05-17,"Corsicana, TX",Tulsa,None,None,1998-03-15,48.0,6.0,Philadelphia Eagles,1946.0,5-11,"Corsicana, TX",NaN,Felto Prewitt,17925,C-LB,207.0
25039,1980-12-19,"Americus, GA",Arkansas,None,None,None,NaN,NaN,None,NaN,6-0,"Richardson, TX",NaN,Eddie Jackson,10762,DB,190.0
25040,1936-07-23,"Chicago, IL",Purdue,None,None,None,220.0,19.0,Philadelphia Eagles,1958.0,6-3,"St. Rita of Cascia, IL",NaN,Ron Sabal,19343,T-G,245.0
25041,1979-02-26,"San Diego, CA",Clemson,None,None,None,NaN,NaN,None,NaN,6-0,"William M. Raines, FL",NaN,Darrel Crutchfield,4880,DB,177.0
25042,1982-08-02,"Evansville, IN",Michigan St.,None,None,None,246.0,7.0,Green Bay Packers,2005.0,6-5,"Marion, IN",NaN,Will Whitticker,23865,G,338.0